<?xml version="1.0"?>
<connectionStrings>
    <add name="NewsVnEntities" connectionString="metadata=res://*/NewsVn.csdl|res://*/NewsVn.ssdl|res://*/NewsVn.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=NEWSVN;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
</connectionStrings>
