<?xml version="1.0"?>

<rewriter>
    <rewrite url="~/tinh-yeu-gia-dinh/tim-ban/ho-so/(.+).aspx" to="~/Profile.aspx?acc=$1" processing="stop" />
    <rewrite url="~/tinh-yeu-gia-dinh/tim-ban-tim-kiem/(.+).aspx" to="~/ProfileSearchResult.aspx?search=$1" processing="stop" />
    <rewrite url="~/tinh-yeu-gia-dinh/tim-ban-trang(.+).aspx" to="~/ProfileList.aspx?page=$1" processing="stop" />    
    <rewrite url="~/tinh-yeu-gia-dinh/tai-khoan/quan-ly-tai-khoan.aspx" to="~/Account/guest/myprofile.aspx" processing="stop" />    
    <rewrite url="~/tinh-yeu-gia-dinh/tim-ban.aspx" to="~/ProfileList.aspx" processing="stop" />    
    
    <rewrite url="~/pt/(.+)/(.+)/(.+).aspx" to="~/Post.aspx?ct=$1&amp;cp=$2&amp;tt=$3" processing="stop" />
    
    <rewrite url="~/ct/(.+)/trang-(.+).aspx" to="~/Category.aspx?ct=$1&amp;p=$2" processing="stop" />
    <rewrite url="~/ct/(.+)/ngay-(.+).aspx" to="~/Category.aspx?ct=$1&amp;d=$2" processing="stop" />
    <rewrite url="~/ct/(.+).aspx" to="~/Category.aspx?ct=$1" processing="stop" />
    
    <rewrite url="~/rao-nhanh/(.+)/trang-(.+).aspx" to="~/AdSubCategory.aspx?ct=$1&amp;p=$2" processing="stop" /><!--rao vat phan trang 1 2 3 4-->
    <rewrite url="~/rao-nhanh/(.+)/ngay-(.+).aspx" to="~/AdSubCategory.aspx?ct=$1&amp;d=$2" processing="stop" />    <!--rao vat tim kiem theo ngay-->
    <rewrite url="~/rao-nhanh-chi-tiet/(.+)/(.+).aspx" to="~/AdPost.aspx?cp=$1&amp;tt=$2" processing="stop" /><!--rao vat chi tiet id/title.aspx-->
    <rewrite url="~/rao-nhanh/(.+).aspx" to="~/AdSubCategory.aspx?ct=$1" processing="stop" /><!--rao vat danh muc theo nha dat, vi tinh vvv-->
    <rewrite url="~/rao-nhanh-dang-ky.aspx" to="~/AdFormBox.aspx" processing="stop" />
    <rewrite url="~/rao-nhanh.aspx" to="~/AdCategory.aspx" processing="stop" /><!--rao vat danh muc chinh-->
    <rewrite url="~/rao-nhanh/tim-kiem/(.+).aspx" to="~/SearchAdResult.aspx?keysearch=$1" processing="stop" /> <!--tim kiem rao vath-->

    <rewrite url="~/tai-khoan/quen-mat-khau.aspx" to="~/Account/Form/LostPassword.aspx" processing="stop" />
    <rewrite url="~/tai-khoan/dang-ky.aspx" to="~/Account/Form/Signup.aspx" processing="stop" />
    <rewrite url="~/tai-khoan/dang-nhap.aspx" to="~/Account/Form/Login.aspx" processing="stop" />
    <rewrite url="~/tai-khoan.aspx" to="~/Account/Form/Redirector.aspx" processing="stop" />
    <!-- 23/10/2011-->
    <rewrite url="~/thanh-vien/thong-tin-tai-khoan.aspx" to="~/Account/guest/myprofile.aspx" processing="stop" />
    <rewrite url="~/thanh-vien/cap-nhat-tai-khoan.aspx" to="~/Account/guest/EditProfile.aspx" processing="stop" />

    <rewrite url="~/tim-kiem/(.+)/trang-(.+).aspx" to="~/PostSearchResult.aspx?keysearch=$1&amp;page=$2" processing="stop" />
    <rewrite url="~/tim-kiem/(.+).aspx" to="~/PostSearchResult.aspx?keysearch=$1" processing="stop" />
      
    <rewrite url="~/loi/canh-bao-loi.aspx" to="~/Exceptions/Common.aspx" processing="stop" />
    <rewrite url="~/loi/404-khong-tim-trang.aspx.aspx" to="~/Exceptions/404.aspx" processing="stop" />
    
    <rewrite url="~/trang-chu.aspx" to="~/Default.aspx" processing="stop" />
    <rewrite url="~/trang-test-html-newsvn.html" to="~/test.aspx" processing="stop" />
</rewriter>