<?xml version="1.0"?>


<pages maintainScrollPositionOnPostBack="true">
    
    <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="nsn" tagName="MenuBar" src="~/modules/MenuBar.ascx"/>
        <add tagPrefix="nsn" tagName="SearchBox" src="~/modules/SearchBox.ascx"/>
        <add tagPrefix="nsn" tagName="LatestPostsPortlet" src="~/modules/LatestPostsPortlet.ascx"/>
        <add tagPrefix="nsn" tagName="SpecialPostsPortlet" src="~/modules/SpecialPostsPortlet.ascx"/>
        <add tagPrefix="nsn" tagName="SpecialEventsPortlet" src="~/modules/SpecialEventsPortlet.ascx"/>
        <add tagPrefix="nsn" tagName="PostsPortlet" src="~/modules/PostsPortlet.ascx"/>

        <add tagPrefix="nsn" tagName="QuickSearchBox" src="~/modules/QuickSearchBox.ascx" />
        <add tagPrefix="nsn" tagName="AdBoxList" src="~/modules/AdBoxList.ascx" />
        <add tagPrefix="nsn" tagName="HotVideoList" src="~/modules/HotVideoList.ascx" />
        <add tagPrefix="nsn" tagName="FooterIntro" src="~/modules/FooterIntro.ascx" />
        <add tagPrefix="nsn" tagName="SideTabsBox" src="~/modules/SideTabsBox.ascx" />
        <add tagPrefix="nsn" tagName="FooterCategoryList" src="~/modules/FooterCategoryList.ascx" />
        <add tagPrefix="nsn" tagName="FooterLinkList" src="~/modules/FooterLinkList.ascx" />
        <add tagPrefix="nsn" tagName="FooterNetworkList" src="~/modules/FooterNetworkList.ascx" />
        <add tagPrefix="nsn" tagName="FooterCopyright" src="~/modules/FooterCopyright.ascx" />

        <add tagPrefix="nsn" tagName="FocusPostsPortlet" src="~/modules/FocusPostsPortlet.ascx" />
        <add tagPrefix="nsn" tagName="CategorizedPostList" src="~/modules/CategorizedPostList.ascx" />
        <add tagPrefix="nsn" tagName="DetailedPostItem" src="~/modules/DetailedPostItem.ascx" />
        <add tagPrefix="nsn" tagName="CommentBox" src="~/modules/CommentBox.ascx" />

        <add tagPrefix="nsn" tagName="RelatedPostList" src="~/modules/RelatedPostList.ascx" />

        <add tagPrefix="nsn" tagName="AdSearchBox" src="~/modules/AdSearchBox.ascx" />
        <add tagPrefix="nsn" tagName="SpecialAdPostsPortlet" src="~/modules/SpecialAdPostsPortlet.ascx" />
        <add tagPrefix="nsn" tagName="AdGuideBox" src="~/modules/AdGuideBox.ascx" />
        <add tagPrefix="nsn" tagName="AdPostsPortlet" src="~/modules/AdPostsPortlet.ascx" />
        <add tagPrefix="nsn" tagName="CategorizedAdPostList" src="~/modules/CategorizedAdPostList.ascx" />

        <add tagPrefix="nsn" tagName="DetailedAdPostItem" src="~/modules/DetailedAdPostItem.ascx" />
        <add tagPrefix="nsn" tagName="RelatedAdPostList" src="~/modules/RelatedAdPostList.ascx" />

        <add tagPrefix="nsn" tagName="AdFormBox" src="~/modules/AdFormBox.ascx" />

        <add tagPrefix="nsn" tagName="ProfileSearchBox" src="~/modules/ProfileSearchBox.ascx" />
        <add tagPrefix="nsn" tagName="ProfileSearchResult" src="~/modules/ProfileSearchResult.ascx" />
        <add tagPrefix="nsn" tagName="UserProfileList" src="~/modules/UserProfileList.ascx" />
        <add tagPrefix="nsn" tagName="UserProfileDetails" src="~/modules/UserProfileDetails.ascx" />
        <add tagPrefix="nsn" tagName="RandomProfileBox" src="~/modules/RandomProfileBox.ascx" />

        <add tagPrefix="nsn" tagName="ProfileCommentBox" src="~/modules/ProfileCommentBox.ascx" />
        <add tagPrefix="nsn" tagName="UserConversationBox" src="~/modules/UserConversationBox.ascx" />

        <add tagPrefix="nsn" tagName="SiteAdmin_Menu" src="~/modules/SiteAdmin_Menu.ascx" />
        <add tagPrefix="nsn" tagName="SiteAdmin_UpdatePost" src="~/modules/SiteAdmin_UpdatePost.ascx" />
        <add tagPrefix="nsn" tagName="SiteAdmin_FilterPost" src="~/modules/SiteAdmin_FilterPost.ascx" />

        <add tagPrefix="nsn" tagName="SiteAdmin_ManageHotEventNews" src="~/modules/Special_Target_Management.ascx" />

        <add tagPrefix="nsn" namespace="CuteEditor" assembly="CuteEditor"/>
    </controls>
</pages>
