.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}

.nivo-controlNav {
	position:absolute;
	left: 125px;
	bottom:-36px;
}
.nivo-controlNav a {
	display:block;
	width:16px;
	height:16px;
	background:url(../images/nivo/nav_tracker.png) no-repeat 3px 3px;
	text-indent:-9999px;
	border:0;	
	float:left;
	cursor:pointer;
}
.nivo-controlNav a.active 
{
    margin: 0 2px;
	background:url(../images/nivo/nav_active.png) no-repeat;
}
.nivo-shadow {
	width:340px;
	height:30px;
	background:url(../images/nivo/shadow.png) no-repeat;
}

#nivo {
    width:340px;
    height:250px;
    background:url(../images/nivo/loading.gif) no-repeat 50% 50%; 
    *z-index: -1;    
}
#nivo img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#nivo a {
    border:0;
    display:block;
}
#nivo .nivo-caption p
{
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    background:#7c96b5;
}
#nivo-description
{
    margin-top: 30px;
}