@import url('reset.css');
@import url('ui.css');
@import url('form.css');

body
{
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 13px;
    line-height: 1.4em;
}

.wrapper
{
    width: 1000px;
    margin: 0 auto;
}

.left
{
    float: left;    
}

.right
{
    float: right;    
}

.clear
{
    clear: both;
    height: 0;    
}

#header, #content, #footer
{
    width: 100%;
}

#header
{
    height: 200px;
    padding-bottom: 5px;
    background: url('../images/header_bg.jpg') repeat-x;    
}

#header #banner_bar
{
    height: 150px;
    width: 100%;    
}

#header #menu_bar
{
    height: 50px;
    width: 100%;    
    background: url('../images/menubar_bg.jpg') no-repeat;
}

#header #menu_bar li
{
    display: inline-block;
    height: 50px;
    padding-right: 11px;
    background: url('../images/menu_sep.jpg') no-repeat 100% 18px;
    position: relative;
}

#header #menu_bar li.head
{
    padding-left: 7px;
}

#header #menu_bar li.tail
{
    background: none;
    padding: 0;
}

#header #menu_bar .menu-item
{
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;
    text-decoration: none;
    height: 50px;
    line-height: 60px;
    padding-left: 9px;
    overflow: hidden;
    display: block;
    filter:progid:DXImageTransform.Microsoft.DropShadow(color='#000000',offX='1',offY='1');
}

#header #menu_bar .menu-item:hover,
#header #menu_bar .menu-item.selected
{
    text-decoration: underline;
}

#header #menu_bar .sub-menu
{
    position: absolute;
    display: none;
    padding: 0 10px;
    background: #e42d1f;
    z-index: 150;
    -moz-box-shadow: 2px 2px 3px #9c0900;
    -webkit-box-shadow: 2px 2px 3px #9c0900;
    box-shadow: 2px 2px 3px #9c0900;
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#9c0900',direction='120',strength='2');
}

#header #menu_bar .sub-menu a
{
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: block;
    white-space: nowrap;
    border-top: 1px dashed #9c0900;
}

#header #menu_bar .sub-menu a:hover
{
    text-decoration: underline;    
}

#content
{
    min-height: 300px;
    background: url('../images/trans_bg.jpg') repeat-x;    
}

#content #main_content
{
    width: 680px;    
}

#content #side_content
{
    width: 310px;    
}

.portlet
{
    background: url('../images/trans_bg.jpg') repeat-x;
    border: 1px solid #ffb4ae;
    padding: 0 14px 14px;
    margin-top: 10px;
}

.portlet h2, .portlet h2 .cate-title
{
    font-size: 13px;
    color: #bd0d0d;
    text-transform: uppercase;
    height: 40px; width: 100%;
    line-height: 40px;
    background: url('../images/content_sep.jpg') repeat-x 0 100%;
    margin-bottom: 15px;
    position: relative;
}

.portlet h2 .cate-title
{
    background: none;   
}

.portlet h2 span,
.portlet h2 .text-normal
{
    text-transform: none;
}

.portlet h2 .font-normal
{
    font-weight: normal;
}

.portlet h2 .rss
{
    position: absolute;
    top: 13px;
    right: 0;
    width: 22px;
    height: 15px;
    background: url('../images/icons/post_rss.png') no-repeat;
}

.portlet .wrap
{
    margin-right: 35px;    
    text-align: justify;
}

.portlet a
{
    color: #104687;
}

.portlet .post-title
{
    font-weight: bold;
    display: block;
    text-align: justify;
}

.portlet .post-title.inline
{
    display: inline;    
}

.portlet .post-comment
{
    width: 23px;
    height: 21px;
    display: block;
    background: url('../images/icons/post_cmt.png') no-repeat;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    color: #fff;
    line-height: 16px;
    position: absolute;
    right: 0; 
}

.portlet .post-info
{
    font-size: 10px;
    font-style: italic;
}

.portlet .post-info .cate
{
    font-weight: bold;    
}

.special-posts.portlet
{
    width: 340px;
}

.special-posts.portlet .description
{
    display: none;
}

.latest-posts.portlet
{
    width: 270px;
}

.special-events.portlet
{
    width: 650px;
}

.special-events #event-list li
{
    width: 155px;    
}

.special-events #event-list img
{
    width: 155px;
    height: 90px;
}

.cate-posts.portlet
{
    width: 305px;
}

.cate-posts.portlet .post-avatar
{
    width: 238px;
    height: 143px;
}

.cate-posts.portlet .avatar-thumb-list li
{
    width: 55px;
    margin-bottom: 5px;
}

.cate-posts.portlet .avatar-thumb-list li img
{
    width: 55px;
    height: 32px;
    cursor: pointer;
    display: block;
}

.cate-posts.portlet .active-post-item
{
    margin: 10px 0;
    position: relative;    
}

.cate-posts.portlet .active-post-item p
{
    margin-top: 0;       
}

.cate-posts.portlet .description
{
    display: none;
}

.side-part.portlet 
{
	width: 280px;
}

.side-part .idTabs li
{
    display: inline;
}

.side-part h2 .idTabs a
{
    color: #bd0d0d;
    text-transform: uppercase;
}

.side-part h2 .idTabs a.selected
{
    text-decoration: underline;
}

.side-part .ui-table
{
    width: 282px;    
}

.side-part .ui-table td
{
    text-align: center;    
}

.side-part .ui-table.align-left td
{
    text-align: left;    
}

.side-part .credit
{
    width: 280px;
    text-align: right;
    display: block;
    font-style: italic;
    font-weight: bold;
    font-size: 11px;
}

.focus-posts.portlet .post-avatar
{
    width: 115px;
    height: 70px;
    margin-right: 5px;
    vertical-align: top;
}

.focus-posts.portlet .post-title
{
    display: inline-block;
    width: 155px;
}

.focus-posts.portlet ul li
{
    margin-top: 10px;    
}

.post-item-list li
{
    padding: 7px 0;
    border-bottom: 1px dotted #333;
    position: relative;
}

.post-item-list li.head
{
    padding: 0 0 7px;    
}

.post-item-list .post-avatar
{
    width: 130px;    
}

.post-item-list .post-item
{
    width: 500px;
}

.side-part-list li
{
	margin-bottom: 5px;
}

.side-part-list li.tail
{
	margin: 0;
}

.side-part-list li img
{
	width: 280px !important;
	display: block;
	border: 0;
}

.categorized-posts.portlet
{
    background: none;    
}

.categorized-posts.portlet .head
{
    padding-top: 14px; 
}

.detailed-post.portlet
{
    background: none;
    padding-top: 14px;
}

.detailed-post.portlet h1 
{
    font-size: 16px;
    text-align: justify;
    width: 100%;    
}

.detailed-post .info-bar
{
    margin: 10px 0;
    padding: 7px 0;
    border: 1px dotted #9c0900;
}

.detailed-post .info-bar.head
{    
    border-width: 0 0 1px;
}

.detailed-post .info-bar.tail
{    
    border-width: 1px 0 0;
    margin-bottom: 0;
    padding: 14px 0 0;
}

.special-adpost.portlet h2 span
{
    color: #000;
    font-weight: normal;
}

.special-adpost.portlet h2 a
{
    text-transform: none;
    font-weight: normal;
}

.special-adpost.portlet li
{
    border: 0;
}

.special-adpost.portlet .post-item
{
    margin-left: 20px;
}

.adpost-search.portlet,
.profile-search.portlet
{
    padding-bottom: 6px;    
}

.guide-box.portlet
{
    height:30px;
    background:none;
    padding:5px 2px 5px 5px;
    margin-top:5px;
}

.random-profiles.portlet .profile-box p
{
	text-align: center;
}

.random-profiles.portlet .profile-sep
{
	border-bottom: 1px dotted #333;
	margin: 10px 0;
}

.data-pager
{
    text-align: right;    
}

#comment_box .comment-list
{
    width: 510px;    
}

#comment_box .list-command
{
    height: 50px;
    line-height: 50px;
    margin-bottom: 5px;  
}

#comment_box .list-command .data-pager a
{
    color: #104687;
    text-decoration: underline;
}

#comment_box .comment-list ul
{    
    overflow: auto;
    padding-right: 10px;
}

#comment_box .comment-list ul li
{
    border-top: 1px dotted #9c0900;
    padding: 5px 0;
}

#comment_box .comment-list ul li.head
{
    border: 0;    
}

#comment_box .ui-form
{
    width: 348px;
}

#adform_box .ui-form li
{
    position: relative;    
}

#adform_box .ui-form label
{
    width: 100px;
}

#adform_box .ui-form .file-upload
{
    position: absolute;
    height: 30px;
    right: 0;
    z-index: 50;
}

#adform_box .ui-form .decoy
{
    position: absolute;
    left: 105px;
    z-index: -1;
    visibility: hidden;
}

#footer
{
	background: #ffbcb6;
	border-top: 5px solid #ffd6d4;
	margin-top: 10px;
	position: relative;
}

#footer .wrapper
{
	min-height: 350px;
	z-index: 50;
	position: relative;
	margin-bottom: 10px;
}

#footer .section
{
    padding: 0 15px 15px;
    margin: 15px 0 10px;
}

#footer .section h2
{
    font-size: 13px;
    color: #bd0d0d;
    text-transform: uppercase;
    height: 30px; width: 100%;
    line-height: 30px;
    background: url('../images/footer_sep.jpg') repeat-x 0 100%;
    margin-bottom: 15px;
}

#footer .section a
{
    color: #104687;
}

#footer .section.intro
{
	width: 305px;	
}

#footer .section.intro .intro-button
{
	background: #ffd6d4;
	padding: 7px 0;
	margin: 5px 0 0 5px;
	text-align: center;
}

#footer .section.intro .intro-button.short
{
	width: 120px;
}

#footer .section.intro .intro-button.long
{
	width: 150px;
}

#footer .section.intro .intro-button img
{
	vertical-align: middle;
	margin-right: 5px;
}

#footer .section.cate-list
{
	width: 305px;
	margin: 15px 10px 10px;
}

#footer .section.link-network
{
	width: 280px;
}

#footer .item-list li
{
    padding: 7px 0;
    border-bottom: 1px dotted #333;
    position: relative;
}

#footer .item-list li.head
{
    padding: 0 0 7px;    
}

#footer .item-list li .rss
{
    position: absolute;
    top: 9px;
    right: 0;
    width: 22px;
    height: 15px;
    background: url('../images/icons/post_rss.png') no-repeat;
}

#footer .item-list li img
{
	vertical-align: middle;
	margin: 3px 10px 3px 0;	
}

#footer #grass_overlay
{
	width: 100%;
	height: 100px;
	background: url('../images/footer_grass.jpg') repeat-x;
	bottom: 55px;
	position: absolute;
}

#footer #copyright
{
	width: 100%;
	height: 55px;
	background: url('../images/footer_bg.jpg') repeat-x;
	text-align: center;
	color: #fff;
	line-height: 60px;
	overflow: hidden;
}