/* Normalization */
/* -------------------------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:.8em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Defaults & Helpers & Print */
/* -------------------------------------------------------------------- */
::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:auto}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}.ir:before{content:"";display:block;width:0;height:150%}.hidden{display:none!important;visibility:hidden}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}@media print{*{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}

/* 1clicMAX POS Defaults & Helpers */
/* -------------------------------------------------------------------- */
body {
	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #444;
	background-color: #eaeaea;
}
a {
	color: #e40;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, .htext {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-weight: bold;
	color: #123785;
}
h1 {
	font-size: 36px;
	margin: 0 0 .67em;
}
h2 {
	font-size: 24px;
	margin: 0 0 .8em;
}
h3 {
	font-size: 1.17em;
	margin: 0 0 1em;
}
h4 {
	font-size: 1em;
	margin: 0 0 1.33em;
}
h5 {
	font-size: .83em;
	margin: 0 0 1.67em;
}
h6 {
	font-size: .67em;
	margin: 0 0 2.33em;
}
menu, ol, ul {
    list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
input, select {
	font-weight: bold;
	line-height: 1em;
	outline: none;
}
.emp {
	color: #ec2028 !important;
}
.upper {
	text-transform: uppercase !important;
}
.align-left {
	text-align: left !important;
}
.align-right {
	text-align: right !important;
}
.align-center {
	text-align: center !important;
}
.left {
	float: left;
}
.right {
	float: right;
}

/* 1clicMAX POS Layout */
/* -------------------------------------------------------------------- */
#header, #footer, #content {	
	width: 100%;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#header {
	height: 84px;
	padding: 0 0 0 8px;
	background-color: #fafafa;
	border-bottom: 3px solid #123785;
	position: relative;
}
#header #logo {
	display: inline-block;
	margin-top: 5px;
}
#header .hcnt {
	position: absolute;
	right: 0;
	top: 0;
}
#header .hcnt .hcnt-upper,
#header .hcnt .hcnt-lower {
	height: 40px;
	line-height: 40px;
	text-align: right;
}
#header .hcnt .hcnt-upper {	
	font-size: 14px;
	padding-right: 10px;
}
#header .hcnt .sep,
#header .hcnt .menu,
#header .hcnt .lang-selector,
#header .hcnt .customer-support,
#header .hcnt .account-log,
#header .hcnt .account-toolbar {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}
#header .hcnt .sep {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 1px;
	margin: 0 10px;
	background-color: #ddd;	
}
#header .hcnt .menu li {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}
#header .hcnt .menu li a {
	color: #999;
	text-transform: uppercase;
}
#header .hcnt .lang-selector select {
	color: #123785;
}
#header .hcnt-upper .customer-support {
	font-size: 18px;
}
#header .hcnt-lower .customer-support {
	font-size: 24px;
	line-height: 1.2em;
	padding-right: 10px;
	vertical-align: top;
}
#header .hcnt .account-toolbar {
	margin-right: -4px;
	padding-left: 62px;
	background: url('../img/accbar_leftend.gif') no-repeat 0 0;
}
#header .hcnt .account-toolbar .barinner {
	padding-right: 10px;
	background-color: #eaeaea;
}
#header .hcnt .account-toolbar .account-mgt {
	color: #123785;
	font-weight: bold;	
}
#header .hcnt .account-log .welcome {
	display: block;
	color: #fafafa;
	background-color: #444;
	padding: 0 10px 0 15px;
}
#header .hcnt .account-log .welcome:hover {
	background-color: #123785;
	text-decoration: none;
}
#footer {
	height: 60px;
	padding: 0 10px;
	background-color: #fafafa;
	border-top: 3px solid #123785;
	position: absolute;
	bottom: 0;
	font-size: 12px;	
}
#footer #copyright {
	padding-top: 12px;
}
#footer #copyright p {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}
#footer #demo-button {
	position: absolute;
    left: 10px;
    top: 12px;
}
#footer #lunex-logo {
	position: absolute;
    right: 10px;
    top: 12px;
}
#content {
	width: 1000px;
	padding: 0;
	margin: 20px auto;
}
#content.w-auto {	
	display: table;
	width: auto;
	max-width: 1580px;
	margin: 10px auto;
}
#content .fly-box,
#content .stroke-box {
	background: #fafafa;
	display: inline-block;
    padding: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#content .fly-box {	
    box-shadow: 0 0 4px #999;    
}
#content .stroke-box {
    border: 1px solid #aaa;
}

/* 1clicMAX POS Form */
/* -------------------------------------------------------------------- */
.xform input[type=text], .xform input[type=password], .xform input[type=search], 
.xform input[type=email], .xform input[type=number], .xform textarea, .xform select {
	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 1em;
	color: #222;
	outline: none;
	background: #fff;
	box-shadow: inset 0 0 .25em #ccc;
	border: 2px solid #aaa;
	border-radius: 3px;
	padding: .28em .4em .26em;
	display: block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.xform input[type=text]:focus, .xform input[type=password]:focus, .xform input[type=search]:focus, 
.xform input[type=email]:focus, .xform input[type=number]:focus, .xform textarea:focus, .xform select:focus {
	border-color: #4a669e;
	box-shadow: inset 0 0 .2em #cbdcff;
}
.xform li {
	padding-bottom: 12px;
}

/* 1clicMAX POS Page: Login */
/* -------------------------------------------------------------------- */
@media screen and (min-height: 700px) {
	#content.w-auto {
		margin-top: 40px;
	}
}
@media screen and (min-height: 750px) {
	#content.w-auto {
		margin-top: 80px;
	}
}
@media screen and (min-height: 900px) {
	#content.w-auto {
		margin-top: 140px;
	}
}
@media screen and (min-height: 1000px) {
	#content.w-auto {
		margin-top: 160px;
	}
}
.login-container .login {
	height: 450px;
	padding: 30px 300px 0 0;
	position: relative;	
}
.login-container .login .login-box .xform {
	width: 250px;
}
.login-container .login .xman {
	width: 386px;
	height: 433px;
	background: url('../img/xman.png') no-repeat 0 0;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}
.login-container .advertise {
	margin-top: 20px;
}
@media screen and (max-width: 1200px) {
	.login-container .advertise {
		display: none;
	}
}
@media screen and (min-width:1200px) {
	.login-container .advertise {
		margin-right: 60px;
		width: 500px;
		display: block;
	}
}
@media screen and (min-width:1400px) {
	.login-container .advertise {
		margin-right: 80px;
		width: 640px;
		display: block;
	}
}
@media screen and (min-width:1600px) {
	.login-container .advertise {
		margin-top: 0;
		margin-right: 100px;
		width: 760px;
		display: block;
	}
}
.login-container .advertise .stroke-box {
	width: 100%;
	height: 450px;
	line-height: 390px;
	text-align: center;
}