@import url('reset.css');

body
{
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 13px;
    line-height: 1.4em;
}

.wrapper
{
    width: 1000px;
    margin: 0 auto;
}

.left
{
    float: left;    
}

.right
{
    float: right;    
}

.clear
{
    clear: both;
    height: 0;    
}

#header, #content, #footer
{
    width: 100%;
}

#header
{
    height: 200px;
    padding-bottom: 5px;
    background: url('../images/header_bg.jpg') repeat-x;    
}

#header #banner_bar
{
    height: 150px;
    width: 100%;    
}

#header #menu_bar
{
    height: 50px;
    width: 100%;    
    background: url('../images/menubar_bg.jpg') no-repeat;
}

#header #menu_bar li
{
    display: inline-block;
    height: 50px;
    padding-right: 11px;
    background: url('../images/menu_sep.jpg') no-repeat 100% 18px;
}

#header #menu_bar li.head
{
    padding-left: 7px;
}

#header #menu_bar li.tail
{
    background: none;
    padding: 0;
}

#header #menu_bar a
{
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;
    text-decoration: none;
    height: 50px;
    line-height: 60px;
    padding-left: 9px;
    overflow: hidden;
    display: block;
}

#content
{
    min-height: 300px;
    background: url('../images/trans_bg.jpg') repeat-x;    
}

#content #main_content
{
    width: 680px;    
}

#content #side_content
{
    width: 310px;    
}

.portlet
{
    background: url('../images/trans_bg.jpg') repeat-x;
    border: 1px solid #ffb4ae;
    padding: 0 14px 14px;
    margin-top: 10px;
}

.portlet h2
{
    font-size: 13px;
    color: #bd0d0d;
    text-transform: uppercase;
    height: 40px; width: 100%;
    line-height: 40px;
    background: url('../images/content_sep.jpg') repeat-x 0 100%;
    margin-bottom: 15px;
    position: relative;
}

.portlet h2 span, .portlet h2 a
{
    text-transform: none;
}

.portlet h2 .rss
{
    position: absolute;
    top: 13px;
    right: 0;
    width: 22px;
    height: 15px;
    background: url('../images/post_rss.png') no-repeat;
}

.portlet .wrap
{
    margin-right: 35px;    
    text-align: justify;
}

.portlet a
{
    color: #104687;
}

.portlet .post-title
{
    font-weight: bold;
    display: block;
    text-align: justify;
}

.portlet .post-title.inline
{
    display: inline;    
}

.portlet .post-comment
{
    width: 23px;
    height: 21px;
    display: block;
    background: url('../images/post_cmt.png') no-repeat;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    line-height: 14px;
    position: absolute;
    right: 0; 
}

.portlet .post-info
{
    font-size: 10px;
    font-style: italic;
}

.portlet .post-info .cate
{
    font-weight: bold;    
}

.special-posts.portlet
{
    width: 340px;
    height: 480px;
}

.special-posts.portlet .description
{
    display: none;
}

.latest-posts.portlet
{
    width: 270px;
    height: 480px;
}

.special-events.portlet
{
    width: 650px;
    height: 180px;
}

.special-events #event-list li
{
    width: 155px;    
}

.special-events #event-list img
{
    width: 155px;
    height: 90px;
}

.cate-posts.portlet
{
    width: 305px;
}

.cate-posts.portlet .post-avatar
{
    width: 238px;
    height: 143px;
}

.cate-posts.portlet .avatar-thumb-list li
{
    width: 55px;
    margin-bottom: 1px;
}

.cate-posts.portlet .avatar-thumb-list li img
{
    width: 55px;
    height: 32px;
    cursor: pointer;
}

.cate-posts.portlet .active-post-item
{
    margin: 15px 0;
    position: relative;    
}

.cate-posts.portlet .active-post-item p
{
    margin-top: 0;       
}

.cate-posts.portlet .description
{
    display: none;
}

.post-item-list li
{
    padding: 7px 0;
    border-bottom: 1px dotted #333;
    position: relative;
}

.post-item-list li.head
{
    padding: 0 0 7px;    
}