/* Normalization */
/* -------------------------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:.8em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Defaults & Helpers & Print */
/* -------------------------------------------------------------------- */
::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:auto}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}.ir:before{content:"";display:block;width:0;height:150%}.hidden{display:none!important;visibility:hidden}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}@media print{*{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}

/* 1clicMAX POS Defaults & Helpers */
/* -------------------------------------------------------------------- */
body {
	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	color: #444;
	background-color: #eaeaea;
}
a {
	color: #e40;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, .htext {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-weight: bold;
	color: #123785;
}
h1 {
	font-size: 36px;
	margin: 0 0 .67em;
}
h1.large {
	font-size: 48px;
}
h2 {
	font-size: 24px;
	margin: 0 0 .8em;
}
h3 {
	font-size: 20px;
	margin: 0 0 1em;
}
h4 {
	font-size: 1em;
	margin: 0 0 1.33em;
}
h5 {
	font-size: .83em;
	margin: 0 0 1.67em;
}
h6 {
	font-size: 16px;
	margin: 0 0 .2em;
}
hr {
	margin: .8em 0;
	border-color: #ddd;	
}
menu, ol, ul {
    list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
input, select {
	font-weight: bold;
	line-height: 1em;
	outline: none;
}
.emp {
	color: #ec2028 !important;
}
.upper {
	text-transform: uppercase !important;
}
.align-left {
	text-align: left !important;
}
.align-right {
	text-align: right !important;
}
.align-center {
	text-align: center !important;
}
.left {
	float: left;
}
.right {
	float: right;
}

/* 1clicMAX POS Layout */
/* -------------------------------------------------------------------- */
.wrapper {
	display: block;
	margin: 0 auto;
	min-width: 1000px;
}
#header, #footer, #content {	
	width: 100%;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#header {
	height: 84px;
	padding: 0 0 0 8px;
	background-color: #fafafa;
	border-bottom: 3px solid #123785;
	position: relative;
}
#header #logo {
	display: inline-block;
	margin-top: 5px;
}
#header .hcnt {
	position: absolute;
	right: 0;
	top: 0;
}
#header .hcnt .hcnt-upper,
#header .hcnt .hcnt-lower {
	height: 40px;
	line-height: 40px;
	text-align: right;
}
#header .hcnt .hcnt-upper {	
	font-size: 14px;
	padding-right: 10px;
}
#header .hcnt .sep,
#header .hcnt .menu,
#header .hcnt .lang-selector,
#header .hcnt .customer-support,
#header .hcnt .account-log,
#header .hcnt .account-toolbar {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}
#header .hcnt .sep {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 1px;
	margin: 0 10px;
	background-color: #ddd;	
}
#header .hcnt .menu li {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}
#header .hcnt .menu li a {
	color: #999;
	text-transform: uppercase;
}
#header .hcnt .lang-selector select {
	color: #123785;
}
#header .hcnt-upper .customer-support {
	font-size: 18px;
}
#header .hcnt-lower .customer-support {
	font-size: 24px;
	line-height: 1.2em;
	padding-right: 10px;
	vertical-align: top;
}
#header .hcnt .account-toolbar {
	margin-right: -4px;
	padding-left: 62px;
	background: url('../img/accbar_leftend.gif') no-repeat 0 0;
}
#header .hcnt .account-toolbar .barinner {
	padding-right: 10px;
	background-color: #eaeaea;
}
#header .hcnt .account-toolbar .account-mgt {
	color: #123785;
	font-weight: bold;
}
#header .hcnt .account-log .welcome {
	display: block;
	color: #fafafa;	
	padding-left: 15px;
	position: relative;
	background-color: #444;
}
#header .hcnt .account-log .welcome:hover {
	background-color: #123785;
	text-decoration: none;
}
#header .hcnt .account-log .welcome strong {
	padding-right: 38px;	
}
#header .hcnt .account-log .welcome .arrow {
	display: block;
	width: 15px;
	height: 15px;
	background: url('../img/accdd_arrow.png') no-repeat 0 0;
	position: absolute;
	right: 10px;
	top: 14px;	
}
#header .hcnt .account-log .dropdown {
	display: none;
	line-height: 1.5em;
	background: #fafafa;
    padding: 15px;
	box-shadow: 0 0 10px #333;
    position: absolute;    
    top: 81px;
	right: 0;
	z-index: 990;
}
#footer {
	height: 60px;
	padding: 0 10px;
	background-color: #fafafa;
	border-top: 3px solid #123785;	
	font-size: 12px;
	position: relative;
}
#footer.docked {
	position: absolute;
	bottom: 0;
}
#footer #copyright {
	padding-top: 12px;
}
#footer #copyright p {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}
#footer #demoButton {
	position: absolute;
    left: 10px;
    top: 12px;
}
#footer #lunexLogo {
	position: absolute;
    right: 10px;
    top: 12px;
}
#content {
	width: 1000px;
	padding: 0;
	margin: 20px auto;
}
#content.w-auto {	
	display: table;
	width: auto;
	max-width: 1580px;
	margin: 30px auto 20px;	
}
#content .product-tabs {
	height: 60px;
	display: inline-block;
	margin-top: -6px;
	box-shadow: 0 0 4px #999;
	position: relative;	
	left: 0;
	bottom: -6px;
	z-index: 100;
}
@media(-webkit-min-device-pixel-ratio:0) {
	#content .product-tabs {
		margin: 0;
		bottom: 0;
	}
}
#content .product-tabs ul {
	letter-spacing: 0px;
	word-spacing: 0px;	
	font-size: 0;
	/* Hide bottom shadow */
	background-color: #fafafa;
	padding-bottom: 5px;
}
#content .product-tabs ul li {
	display: inline-block;	
}
#content .product-tabs ul li:last-of-type {
	margin: 0;
}
#content .product-tabs ul li a,
#content .product-tabs ul li span {
	display: block;
	width: 166px;
	height: 60px;
	border-right: 1px solid #2753B2;
	background-color: #123785;	
	background-image: url('../img/product_logos_medium.png');
	background-repeat: no-repeat;
	text-indent: 999px;
	white-space: nowrap;
	overflow: hidden;
}
#content .product-tabs ul li a:hover {
	border-color: #fafafa;
	background-color: #EC2029;
	transition: background-color 800ms ease 0s;
	-moz-transition: background-color 800ms ease 0s;
    -webkit-transition: background-color 800ms ease 0s;
    -o-transition: background-color 800ms ease 0s;
}
#content .product-tabs ul li span {
	background-color: #fafafa;
	border: 0 none;	
}
#content .product-tabs ul li:last-of-type a {
	border: 0 none;
}
#content .product-tabs ul li.one-clic a,
#content .product-tabs ul li.one-clic span {
	background-position: 0 0;
}
#content .product-tabs ul li.topup-world a,
#content .product-tabs ul li.topup-world span {
	background-position: -166px 0;
}
#content .product-tabs ul li.topup-world span {
	background-position: -332px 0;
}
#content .product-tabs ul li.topup-usa a,
#content .product-tabs ul li.topup-usa span {
	background-position: 0 -60px;
}
#content .product-tabs ul li.phi-calling a,
#content .product-tabs ul li.phi-calling span {
	background-position: -166px -60px;
}
#content .product-tabs ul li.billmex a,
#content .product-tabs ul li.billmex span {
	background-position: -332px -60px;
}
#content .fly-box,
#content .stroke-box {
	background: #fafafa;
	display: inline-block;
    padding: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#content .fly-box {	
    box-shadow: 0 0 4px #999;
}
#content .fly-box.content-holder {
	width: 100%;	
}
#content .fly-box h3 {
	margin-bottom: .8em;
	padding-bottom: 8px;
	border-bottom: 1px solid #123785;    	
}
#content .fly-box.content-holder .fly-box-title {
	border-bottom: 1px solid #123785;
	margin-bottom: 20px;
}
#content .fly-box.content-holder .fly-box-title h1 {
	font-size: 30px;
	margin-bottom: 10px;
	text-transform: capitalize;
}
#content .stroke-box {
    border: 1px solid #aaa;
}
#content .notif p {
	margin: .2em 0;
}
.dialog, .popup, .popup-content {
	display: none;
}
.popup .ui-dialog-titlebar {
	border: 0 none !important;
}
.popup #popup {
	padding-top: 10px;
}
.popup #popup iframe {
	background: #fafafa url('../img/loader.gif') no-repeat 50% 50%;	
}
.shout-box {
	min-width: 300px;
	min-height: 100px;
	padding: 10px !important;
	display: none;
}
.shout-box hr {
	margin: 1em 0 .8em;
}
.shout-box .dialog-content {
	padding-top: 8px;
}
.shout-box .dialog-content p {
	margin: 0;
}
.shout-box .dialog-bottom {
	text-align: right;
	min-height: 32px;
}
.shout-box .dialog-bottom input,
.shout-box .dialog-bottom a[class^=button] {
	margin-left: 5px;
}
#alert-box .dialog-bottom {
	background: url('../img/shoutbox_alert.png') no-repeat 0 0;
}
#confirm-box .dialog-bottom {
	background: url('../img/shoutbox_confirm.png') no-repeat 0 0;
}
#prompt-box .prompt-text {
	margin-bottom: .3em;
}
#prompt-box .dialog-bottom{
	background: url('../img/shoutbox_prompt.png') no-repeat 0 0;
}

/* 1clicMAX POS Form */
/* -------------------------------------------------------------------- */
.gray-button {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: .42em 1em;
    color: #444;
	min-width: 70px;
	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 16px;
	line-height: 1em;
    font-weight: bold;
	border-radius: 3px;
	border: 1px solid #ccc;
	background: #ddd; /* Fallback */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background: -moz-linear-gradient(top,  #eee,  #ddd);
	zoom: 1;
	cursor: pointer;
}
.gray-button:hover {
	text-decoration: none;
	border: 1px solid #fdd106;
	background: #fdd106 url(../plg/jqui/img/ui-bg_highlight-soft_60_fdd106_1x100.png) 50% 50% repeat-x;
	color: #222;	
}
.xform {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.xform.auto {
	width: auto;
}
.xform.product-form {
	padding: 20px;
	color: #222;
	background-color: #fff5a5;
}
.xform li {
	padding-bottom: 12px;
	font-weight: bold;
}
.xform li.dotted-sep {
	border-bottom: 1px dotted #aaa;
	margin-bottom: 12px;	
}
.xform li p {
	margin: .5em 0 0;
}
.xform li.2col p {
	margin: 0;
	display: inline-block;
}
.xform li label {
	font-weight: normal;
	display: block;
	padding-bottom: .15em;
	text-transform: capitalize;
}
.xform.inline li label,
.xform li label.inline {
	display: inline-block;
	padding: 0;
}
.xform li em {
	font-weight: normal;
	font-size: 14px;
}
.xform input[type=text], .xform input[type=password],
.xform input[type=search], .xform input[type=email], .xform input[type=tel],
.xform input[type=number], .xform textarea, .xform select {
	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 1em;
	color: #222;
	outline: none;
	background: #fff;
	box-shadow: inset 0 0 .25em #ccc;
	border: 2px solid #aaa;
	border-radius: 3px;
	padding: .28em .4em .26em;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.xform input[type=text]:focus, .xform input[type=password]:focus,
.xform input[type=search]:focus, .xform input[type=tel]:focus, .xform input[type=email]:focus,
.xform input[type=number]:focus, .xform textarea:focus, .xform select:focus {
	border-color: #4a669e;
	box-shadow: inset 0 0 .2em #cbdcff;
}
.xform input[type=text].inline, .xform input[type=password].inline,
.xform input[type=search].inline, .xform input[type=email].inline, .xform input[type=tel].inline,
.xform input[type=number].inline, .xform textarea.inline, .xform select.inline {
	width: auto;
}
.xform input[type=text].important, .xform input[type=password].important,
.xform input[type=search].important, .xform input[type=email].important, .xform input[type=tel].important,
.xform input[type=number].important, .xform textarea.important, .xform select.important {
	font-size: 28px;
	padding: .1em 0.25em;
}
.xform input[type=text].xlarge, .xform input[type=password].xlarge,
.xform input[type=search].xlarge, .xform input[type=email].xlarge, .xform input[type=tel].xlarge,
.xform input[type=number].xlarge, .xform textarea.xlarge, .xform select.xlarge {
	font-size: 72px;
	padding: .1em 0.25em;
}

.xform input[type=button].xlarge, .xform input[type=submit].xlarge,
.xform input[type=reset].xlarge, xform .gray-button.xlarge {
	font-size: 36px;
	padding: .15em 0.4em;
}
.xform-cmd {
	text-align: right;
	padding-top: 15px;
}
.xform-cmd.has-sep {
	border-top: 1px solid #123785;
	margin-top: 15px;
}
.xform-cmd .ui-button, .xform-cmd .gray-button {
	margin: 0 0 0 5px;
}

/* 1clicMAX POS Page: Login */
/* -------------------------------------------------------------------- */
@media screen and (min-height: 700px) {
	#loginPage #content.w-auto {
		margin-top: 50px;
	}
}
@media screen and (min-height: 750px) {
	#loginPage #content.w-auto {
		margin-top: 80px;
	}
}
@media screen and (min-height: 900px) {
	#loginPage #content.w-auto {
		margin-top: 140px;
	}
}
@media screen and (min-height: 1000px) {
	#loginPage #content.w-auto {
		margin-top: 160px;
	}
}
#loginPage .login-container .login {
	height: 420px;
	padding: 30px 300px 0 0;
	position: relative;	
}
#loginPage #content .login-container .login .login-box {
	padding: 20px 30px;
}
#loginPage .login-container .login .login-box .notif {
	margin-bottom: 10px;
}
#loginPage .login-container .login .login-box .xform input[type=submit] {
	margin: 8px 0;
	padding: .5em 1em;
	width: 100px;	
}
#loginPage .login-container .login .xman {
	width: 386px;
	height: 433px;
	background: url('../img/xman.png') no-repeat 0 0;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}
#loginPage .login-container .advertise {
	margin-top: 20px;
}
@media screen and (max-width: 1200px) {
	#loginPage .login-container .advertise {
		display: none;
	}
}
@media screen and (min-width:1200px) {
	#loginPage .login-container .advertise {
		margin-right: 60px;
		width: 500px;
		display: block;
	}
}
@media screen and (min-width:1400px) {
	#loginPage .login-container .advertise {
		margin-right: 80px;
		width: 640px;
		display: block;
	}
}
@media screen and (min-width:1600px) {
	#loginPage .login-container .advertise {
		margin-top: 0;
		margin-right: 100px;
		width: 760px;
		display: block;
	}
}
#loginPage .login-container .advertise .stroke-box {
	width: 100%;
	height: 450px;
	line-height: 390px;
	text-align: center;
}
#loginPage #forgotPassDialog {
	width: 450px;	
}
#loginPage #forgotPassDialog article {
	margin: 0 0 10px 30px;
}
#loginPage #forgotPassDialog article h6 span {
	color: #444;
}
#loginPage #forgotPassDialog article ul {
	margin-left: 30px;
}

/* 1clicMAX POS Page: Home */
/* -------------------------------------------------------------------- */
#homePage #productsNav {
	text-align: center;	
}
#homePage #productsNav ul li {
	display: inline-block;
	margin-right: 5.2px;
	padding-bottom: 13px;
	background: url('../img/product_box_shadow.png') no-repeat 50% 100%;
}
#homePage #productsNav ul li:last-of-type {
	margin: 0;
}
#homePage #productsNav ul li a {
	display: block;
	width: 192px;
	height: 100px;
	background-color: #123785;	
	background-image: url('../img/product_logos_large.png');
	background-repeat: no-repeat;
	text-indent: 999px;
	white-space: nowrap;
	overflow: hidden;
}
#homePage #productsNav ul li a:hover {
	background-color: #EC2029;
	transition: background-color 500ms ease 0s;
	-moz-transition: background-color 500ms ease 0s;
    -webkit-transition: background-color 500ms ease 0s;
    -o-transition: background-color 500ms ease 0s;
}
#homePage #productsNav ul li.one-clic a {
	background-position: 0 0;
}
#homePage #productsNav ul li.topup-world a {
	background-position: -192px 0;
}
#homePage #productsNav ul li.topup-usa a {
	background-position: -384px 0;
}
#homePage #productsNav ul li.phi-calling a {
	background-position: 0 -100px;
}
#homePage #productsNav ul li.billmex a {
	background-position: -192px -100px;
}
#homePage #mainContent,
#homePage .product-desc {
	margin-top: 15px;
}
#homePage .product-desc {
	display: none;
	width: 100%;
	height: 400px;
	line-height: 340px;
	text-align: center;
}
#homePage #homeSlider {
	width: 598px;
	height: 400px;
	padding: 10px;
}
#homePage #homeSlider .theme-default .nivoSlider {
	box-shadow: none;
}
#homePage #homeSlider .theme-default .nivoSlider img {
	width: 100%;
	height: 340px;
}
#homePage #homeSlider .theme-default .nivo-controlNav {
	padding: 5px 0;
}
#homePage #homeFeed {
	width: 394px;
	height: 400px;
	padding: 10px 20px;
}
#homePage #homeFeed article {
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
#homePage #homeFeed article .content {
	display: block;
	width: 100%;
	max-height: 6em;
	overflow: hidden;
}
#homePage #homeFeed article .content p {
	margin: .2em 0;
}
#homePage #homeFeed article footer {
	margin: .5em 0;
	text-align: right;	
}
#homePage #homeFeed footer {
	margin: .2em 0;
	text-align: center;	
}
/* 1clicMAX POS Page: 1ClicMAX Product */
/* -------------------------------------------------------------------- */
#oneClicProductPage #phoneInputForm .xform {
	width: 578px;
	padding: 20px 30px;	
}
#oneClicProductPage #phoneInputForm .bottom {
	text-align: right;
	padding: 15px 0 0;
}
#oneClicProductPage #phoneInputForm .bottom input {
	margin: 0;
}
#oneClicProductPage #content .fly-box .fly-box-title strong.emp {
	font-size: 48px;	
}
#oneClicProductPage #content .fly-box .fly-box-title strong.phoneno {
	font-size: 30px;
	color: #123785;
}
#oneClicProductPage #content .fly-box .fly-box-title .right {
	margin-top: 8px;	
}
#oneClicProductPage #newAccountForm {
	width: 100%;
}
#oneClicProductPage #newAccountForm .xform {
	width: 620px;
	margin: 0 auto;	
}
#oneClicProductPage #newAccountForm .xform .option {
	display: inline-block;
	vertical-align: middle;
	min-width: 9em;
	width: 9em;
}
#oneClicProductPage #newAccountForm .xform li.refer-a-friend {
	background: url('../img/new_label.png') no-repeat 0 0;
	padding-left: 80px;
}
#oneClicProductPage #newAccountForm .xform li.refer-a-friend label.big {
	font-size: 24px;
	color: #123785;
}
#oneClicProductPage #newAccountForm .xform li.refer-a-friend input.large {
	font-size: 36px;	
    width: 276px;
	margin-left: 10px;
	padding: 0.1em 0.4em;
}
/* 1clicMAX POS Page: Top-Up the World Product */
/* -------------------------------------------------------------------- */
#topupWorldProductPage #content .fly-box .fly-box-title .sub-title {
	color: #123785;
	font-size: 18px;
	margin: 4px 0 0;
}
#topupWorldProductPage #topupForm .xform {
	width: 598px;
	margin-bottom: 5px;
}