/* Normalization */
/* -------------------------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:.8em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Defaults & Helpers & Print */
/* -------------------------------------------------------------------- */
::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:auto}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}.ir:before{content:"";display:block;width:0;height:150%}.hidden{display:none!important;visibility:hidden}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}@media print{*{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}

/* 1clicMAX POS Defaults & Helpers */
/* -------------------------------------------------------------------- */
body {
	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	color: #444;
	background-color: #eaeaea;
	min-width: 1200px;
}
a {
	color: #e40;
	outline: 0 none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, .htext {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-weight: bold;
	color: #123785;
}
h1 {
	font-size: 36px;
	margin: 0 0 .67em;
}
h1.large {
	font-size: 48px;
}
h2 {
	font-size: 24px;
	margin: 0 0 .8em;
}
h2.large {
	font-size: 30px;
}
h3 {
	font-size: 20px;
	margin: 0 0 1em;
}
h4 {
	font-size: 1em;
	margin: 0 0 1.33em;
}
h5 {
	font-size: .83em;
	margin: 0 0 1.67em;
}
h6 {
	font-size: 16px;
	margin: 0 0 .2em;
}
hr {
	margin: .8em 0;
	border-color: #ddd;	
}
menu, ol, ul {
    list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
input, select {
	font-weight: bold;
	line-height: 1em;
	outline: 0;
}
.imp {
	font-size: 20px;
	font-weight: bold;
}
.imp2 {
	font-size: 24px;
	font-weight: bold;
}
.emp {
	color: #ec2028 !important;
}
.upper {
	text-transform: uppercase !important;
}
.note {
	font-size: 14px;
	font-style: italic;
}
.note .asterisk {
	font-size: 26px;
	font-weight: bold;
	color: #ec2028;
}
.note .title {
	font-weight: bold;
	text-decoration: underline;
}
.align-left {
	text-align: left !important;
}
.align-right {
	text-align: right !important;
}
.align-center {
	text-align: center !important;
}
.left {
	float: left;
}
.right {
	float: right;
}

/* 1clicMAX POS Layout */
/* -------------------------------------------------------------------- */
.wrapper {
	display: block;
	margin: 0 auto;
	min-width: 1000px;
}
#header, #footer, .site-content {
	width: 100%;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#header {
	height: 84px;
	padding: 0 0 0 8px;
	background-color: #fafafa;
	border-bottom: 3px solid #123785;
	position: relative;
}
#header #logo {
	display: inline-block;
	margin-top: 5px;
}
#header .hcnt {
	position: absolute;
	right: 0;
	top: 0;
}
#header .hcnt .hcnt-upper,
#header .hcnt .hcnt-lower {
	height: 40px;
	line-height: 40px;
	text-align: right;
}
#header .hcnt .hcnt-upper {	
	font-size: 14px;
	padding-right: 10px;
}
#header .hcnt .sep,
#header .hcnt .menu,
#header .hcnt .lang-selector,
#header .hcnt .customer-support,
#header .hcnt .account-log,
#header .hcnt .account-toolbar {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}
#header .hcnt .sep {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 1px;
	margin: 0 10px;
	background-color: #ddd;	
}
#header .hcnt .menu li {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}
#header .hcnt .menu li a {
	color: #999;
	text-transform: uppercase;
}
#header .hcnt .lang-selector select {
	color: #123785;
}
#header .hcnt-upper .customer-support {
	font-size: 18px;
}
#header .hcnt-lower .customer-support {
	font-size: 24px;
	line-height: 1.2em;
	padding-right: 10px;
	vertical-align: top;
}
#header .hcnt .account-toolbar {
	margin-right: -4px;
	padding-left: 62px;
	background: url('../img/accbar_leftend.gif') no-repeat 0 0;
}
#header .hcnt .account-toolbar .barinner {
	padding-right: 10px;
	background-color: #eaeaea;
}
#header .hcnt .account-toolbar .account-mgt {
	color: #123785;
	font-weight: bold;
}
#header .hcnt .account-log .welcome {
	display: block;
	color: #fafafa;	
	padding-left: 15px;
	position: relative;
	background-color: #444;
}
#header .hcnt .account-log .welcome:hover {
	background-color: #123785;
	text-decoration: none;
}
#header .hcnt .account-log .welcome strong {
	padding-right: 38px;	
}
#header .hcnt .account-log .welcome .arrow {
	display: block;
	width: 15px;
	height: 15px;
	background: url('../img/accdd_arrow.png') no-repeat 0 0;
	position: absolute;
	right: 10px;
	top: 14px;	
}
#header .hcnt .account-log .dropdown {
	display: none;
	line-height: 1.5em;
	background: #fafafa;
    padding: 15px;
	box-shadow: 0 0 10px #333;
    position: absolute;    
    top: 81px;
	right: 0;
	z-index: 990;
}
#footer {
	height: 60px;
	padding: 0 10px;
	background-color: #fafafa;
	border-top: 3px solid #123785;	
	font-size: 12px;
	position: relative;
}
#footer.docked {
	position: absolute;
	bottom: 0;
}
#footer #copyright {
	padding-top: 12px;
}
#footer #copyright p {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}
#footer #demoButton {
	position: absolute;
    left: 10px;
    top: 12px;
}
#footer #lunexLogo {
	position: absolute;
    right: 10px;
    top: 12px;
}
.site-content {
	width: 1000px;
	padding: 0;
	margin: 20px auto;
}
.site-content.w-auto {	
	display: table;
	width: auto;
	max-width: 1580px;
	margin: 30px auto 20px;	
}
.site-content .product-tabs {
	height: 60px;
	display: inline-block;
	margin-top: -6px;
	box-shadow: 0 0 4px #999;
	position: relative;	
	left: 0;
	bottom: -6px;
	z-index: 100;
}
@media(-webkit-min-device-pixel-ratio:0) {
	.site-content .product-tabs {
		margin: 0;
		bottom: 0;
	}
}
.site-content .product-tabs ul {
	letter-spacing: 0px;
	word-spacing: 0px;	
	font-size: 0;
	/* Hide bottom shadow */
	background-color: #fafafa;
	padding-bottom: 5px;
}
.site-content .product-tabs ul li {
	display: inline-block;	
}
.site-content .product-tabs ul li:last-of-type {
	margin: 0;
}
.site-content .product-tabs ul li a,
.site-content .product-tabs ul li span {
	display: block;
	width: 166px;
	height: 60px;
	border-right: 1px solid #2753B2;
	background-color: #123785;	
	background-image: url('../img/product_logos_medium.png');
	background-repeat: no-repeat;
	text-indent: 999px;
	white-space: nowrap;
	overflow: hidden;
}
.site-content .product-tabs ul li a:hover {
	border-color: #fafafa;
	background-color: #EC2029;
	transition: background-color 800ms ease 0s;
	-moz-transition: background-color 800ms ease 0s;
    -webkit-transition: background-color 800ms ease 0s;
    -o-transition: background-color 800ms ease 0s;
}
.site-content .product-tabs ul li span,
.site-content .product-tabs ul li.selected a  {
	background-color: #fafafa !important;
	border: 0 none;	
}
.site-content .product-tabs ul li:last-of-type a {
	border: 0 none;
}
.site-content .product-tabs ul li.one-clic a,
.site-content .product-tabs ul li.one-clic span {
	background-position: 0 0;
}
.site-content .product-tabs ul li.topup-world a {
	background-position: -166px 0;
}
.site-content .product-tabs ul li.topup-world span,
.site-content .product-tabs ul li.topup-world.selected a {
	background-position: -332px 0;
}
.site-content .product-tabs ul li.topup-usa a,
.site-content .product-tabs ul li.topup-usa span {
	background-position: 0 -60px;
}
.site-content .product-tabs ul li.phi-calling a,
.site-content .product-tabs ul li.phi-calling span {
	background-position: -166px -60px;
}
.site-content .product-tabs ul li.billmex a,
.site-content .product-tabs ul li.billmex span {
	background-position: -332px -60px;
}
.site-content .product-tabs ul li.ku2000 a,
.site-content .product-tabs ul li.ku2000 span {
	background-position: 0 -120px;
}
.site-content .product-tabs ul li.globe-duo a {
	background-position: -166px -120px;
}
.site-content .product-tabs ul li.globe-duo span,
.site-content .product-tabs ul li.globe-duo.selected a {
	background-position: -332px -120px;
}
.site-content .fly-box,
.site-content .stroke-box {
	background: #fafafa;
	display: inline-block;
    padding: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.site-content .fly-box {	
    box-shadow: 0 0 4px #999;
}
.site-content .fly-box.content-holder {
	width: 100%;	
}
.site-content .fly-box h3 {
	margin-bottom: .8em;
	padding-bottom: 8px;
	border-bottom: 1px solid #123785;    	
}
.site-content .fly-box.content-holder .fly-box-title {
	border-bottom: 1px solid #123785;
	margin-bottom: 15px;
}
.site-content .fly-box.content-holder .fly-box-title h1 {
	font-size: 30px;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.site-content .stroke-box {
    border: 1px solid #aaa;
}
.site-content .notif p {
	margin: .2em 0;
}
.dialog, .popup, .popup-content {
	display: none;
}
.popup .ui-dialog-titlebar {
	border: 0 none !important;
}
.popup #popup {
	padding-top: 10px;
}
.popup #popup iframe {
	background: #fafafa url('../img/loader.gif') no-repeat 50% 50%;	
}
.shout-box {
	min-width: 300px;
	min-height: 100px;
	padding: 10px !important;
	display: none;
}
.shout-box hr {
	margin: 1em 0 .8em;
}
.shout-box .dialog-content {
	padding-top: 8px;
}
.shout-box .dialog-content p {
	margin: .5em .8em 1.5em;
}
.shout-box .dialog-bottom {
	text-align: right;
	min-height: 32px;
}
.shout-box .dialog-bottom input,
.shout-box .dialog-bottom a[class^=button] {
	margin-left: 5px;
}
#alert-box .dialog-bottom {
	background: url('../img/shoutbox_alert.png') no-repeat 0 0;
}
#confirm-box .dialog-bottom {
	background: url('../img/shoutbox_confirm.png') no-repeat 0 0;
}
#prompt-box .prompt-text {
	margin-bottom: .3em;
}
#prompt-box .dialog-bottom{
	background: url('../img/shoutbox_prompt.png') no-repeat 0 0;
}
#tooltip {	
	padding: 15px;
	background: #fafafa;
	border: 1px dashed #123785;
	box-shadow: 0 0 5px #555;
	display: none;
	position: absolute;
	z-index: 1000;
}
.site-content .print-feature {
	position: relative;
}
.site-content .print-feature .button-print {
	margin: 0;	
}
.site-content .print-feature .dropdown {
	display: none;
	background: #fafafa;
    padding: 8px 15px 5px;
	min-width: 110px;
	box-shadow: 0 0 5px #555;
    position: absolute;    
    top: 32px;
	right: 0;
	z-index: 990;
}
.site-content .print-feature .dropdown li {
	border-bottom: 1px dotted #aaa !important;
	padding: 8px 0 5px !important;
	text-align: right !important;
}
.site-content .print-feature .dropdown li:last-child {
	border: 0 none !important;	
}

/* 1clicMAX POS Form */
/* -------------------------------------------------------------------- */
.gray-button, .green-button, .red-button {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: .42em 1em;
    color: #444;
	min-width: 70px;
	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 16px;
	line-height: 1em;
    font-weight: bold;
	border-radius: 3px;
	border: 1px solid #ccc;
	background: #ddd; /* Fallback */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background: -moz-linear-gradient(top,  #eee,  #ddd);
	zoom: 1;
	cursor: pointer;
}
.green-button {
	color: #fff;
	border-color: #290;
	background: #270; /* Fallback */
	background: -webkit-gradient(linear, left top, left bottom, from(#2a0), to(#270));
	background: -moz-linear-gradient(top,  #2a0,  #270);
}
.red-button {
	color: #fff;
	border-color: #c70000;
	background: #a00; /* Fallback */
	background: -webkit-gradient(linear, left top, left bottom, from(#c80000), to(#a00));
	background: -moz-linear-gradient(top,  #c80000,  #a00);
}
.gray-button:hover, .green-button:hover, .red-button:hover {
	text-decoration: none;
	border: 1px solid #fdd106;
	background: #fdd106 url(../plg/jqui/img/ui-bg_highlight-soft_60_fdd106_1x100.png) 50% 50% repeat-x;
	color: #222;	
}
input.gray-button {
	padding: .36em 1em;
	min-width: 90px;
}
.gray-button.small {
	min-width: 30px;
	font-size: 12px;
	padding: .3em .8em .25em;
}
.button-print .ui-icon {
	background: url('../img/button_icons.png') no-repeat 0 0;
}
.button-print:hover .ui-icon,
.button-print.ui-state-focus .ui-icon {
	background-position: 0 -16px;
}
.button-print .ui-button-text {
	padding-left: 2.1em;
}
.xform {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.xform.auto {
	width: auto;
}
.xform li {
	padding-bottom: 12px;
	font-weight: bold;
}
.xform li.dotted-sep {
	border-bottom: 1px dotted #aaa;
	margin-bottom: 12px;	
}
.xform li p {
	margin: .5em 0 0;
}
.xform li.col2 {
	font-size: 0;	
}
.xform li.col2 p {
	margin: 0;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}
.xform li label {
	font-weight: normal;
	display: block;
	padding-bottom: .15em;
	text-transform: capitalize;
}
.xform.inline li label,
.xform li label.inline {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}
.xform li em {
	font-weight: normal;
	font-size: 14px;
}
.xform input[type=text], .xform input[type=password],
.xform input[type=search], .xform input[type=email], .xform input[type=tel],
.xform input[type=number], .xform textarea, .xform select {
	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 1em;
	color: #222;
	outline: 0;
	background: #fff;
	box-shadow: inset 0 0 .25em #ccc;
	border: 2px solid #aaa;
	border-radius: 3px;
	padding: .28em .4em .26em;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.xform input[type=text]:focus, .xform input[type=password]:focus,
.xform input[type=search]:focus, .xform input[type=tel]:focus, .xform input[type=email]:focus,
.xform input[type=number]:focus, .xform textarea:focus, .xform select:focus {
	border-color: #4a669e !important;
	box-shadow: inset 0 0 .2em #cbdcff !important;
}
.xform input[type=text].major, .xform input[type=password].major,
.xform input[type=search].major, .xform input[type=email].major, .xform input[type=tel].major,
.xform input[type=number].major, .xform textarea.major, .xform select.major{
	border-color: #ee7000;
	box-shadow: inset 0 0 .2em #fac7b2;
}
.xform input[type=text].inline, .xform input[type=password].inline,
.xform input[type=search].inline, .xform input[type=email].inline, .xform input[type=tel].inline,
.xform input[type=number].inline, .xform textarea.inline, .xform select.inline {
	width: auto;
}
.xform input[type=text].important, .xform input[type=password].important,
.xform input[type=search].important, .xform input[type=email].important, .xform input[type=tel].important,
.xform input[type=number].important, .xform textarea.important, .xform select.important {
	font-size: 28px;
	padding: .1em 0.22em;
}
.xform input[type=text].xlarge, .xform input[type=password].xlarge,
.xform input[type=search].xlarge, .xform input[type=email].xlarge, .xform input[type=tel].xlarge,
.xform input[type=number].xlarge, .xform textarea.xlarge, .xform select.xlarge {
	font-size: 72px;
	padding: .1em 0.25em;
}

.xform input[type=button].xlarge, .xform input[type=submit].xlarge,
.xform input[type=reset].xlarge, xform .gray-button.xlarge {
	font-size: 36px;
	padding: .15em 0.4em;
}
.xform input.read-only {
	background-color: #effaff;	
}
.xform input[disabled],
.xform select[disabled] {
	background-color: #f0f0f0;	
}
.xform select {
	/*-webkit-appearance: none;*/
}
.xform-cmd {
	text-align: right;
	margin-top: 15px;
}
.xform-cmd.has-sep {
	border-top: 1px solid #123785;
	padding-top: 15px;
}
.xform-cmd .ui-button, .xform-cmd .gray-button {
	margin: 0 0 0 5px;
}
.xform-cmd .left .ui-button, .xform-cmd .left .gray-button,
.xform-cmd .ui-button.left, .xform-cmd .gray-button.left {
	margin: 0 5px 0 0;
}
.xform .field-des {
	font-size: 12px;
	font-style: italic;
	margin-left: 2px;		
}
.xform .data {
	color: #222;
	vertical-align: bottom;
}
.product-form {	
	color: #222;
	background-color: #e5e5e5;
}
.xform.product-form,
.product-form .xform {
	padding: 20px;
}
.product-form .xform li {
	padding-bottom: 16px;	
}
.product-form .xform li:last-child,
.xform.product-form li:last-child {
	padding-bottom: 0 !important;	
}
.product-form h2 {
	font-size: 20px;
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.product-panel h2 {
	font-size: 20px;
	margin: 0;
	padding-bottom: 12px;
}
.product-form h2 .data,
.product-panel h2 .data {
	color: #444;
	padding-left: 5px;
}
.product-form h2 .note,
.product-panel h2 .note {
	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #444;	
}
.product-panel.xform li:last-child,
.product-panel .xform li:last-child {
	padding: 0;
}
span.option {
	display: inline-block;
	vertical-align: middle;
	min-width: 5em;
	margin-top: 4px;
}
span.option .child-options {
	display: block;
    font-size: 14px;
    padding-left: 17px;	
}
span.option .child-options span.option {
	display: inline-block !important;
	min-width: 5em !important;
	margin-top: 4px !important;
	vertical-align: middle;
}
.result-panel {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
.result-panel.success {
	background-color: #efe;
}
.result-panel.success .result {
	color: #280;
}
.result-panel.fail {
	background-color: #ffebed;
}
.result-panel.fail .result {
	color: #ec222a;
}
.result-panel.fail hr {
	border-color: #ffdce1;	
}
.result-panel .help {
	font-style: italic;	
}
.result-panel .help p {
	margin: .3em 0 0;
	line-height: 1.5em;
}
.result-panel .xform li:last-child {
	padding: 0;
}
.open-close .anchor {	
	text-indent: 25px;
	position: relative;
}
.open-close.collapsed .anchor {
	padding: 0;	
}
.open-close .anchor .anchor-button {
	width: 15px;
	height: 15px;
	display: block;
	background: url('../img/open_close.png') no-repeat 0 0;
	position: absolute;
	left: 0;
	top: 4px;
}
.open-close .anchor .anchor-button:hover {
	background-position: 0 -15px;
}
.open-close.collapsed .anchor .anchor-button {
	background-position: -15px 0;	
}
.open-close.collapsed .anchor .anchor-button:hover {
	background-position: -15px -15px;
}
.open-close.collapsed .content {
	display: none;
}

/* 1clicMAX POS Common Forms */
/* -------------------------------------------------------------------- */
/* Credit Card Form */
.cc-form {
	padding: 20px 0 !important;
	margin: 0 auto;
	width: 520px;
}
.cc-form li {
	padding-bottom: 12px !important;	
}
.cc-form li.col2 p {
	width: 250px;	
}
.cc-form li.col2 p.first {
	margin-right: 16px;	
}
.cc-form li.col2 .date-month {
	width: 70px;	
}
.cc-form li.col2 .date-year {
	width: 90px;
}
.cc-form li.col2 .date-divider {
	font-size: 22px;
	font-weight: normal;
	margin: 0 5px;
	display: inline-block;
	vertical-align: middle;
}
.cc-form li.col2 .cvv-code {
	width: 55px;
}
.cc-form li.col2 .cvv-des {
	font-size: 11.5px;
	white-space: nowrap;
}
.cc-form li.col2 .zip-code {
	width: 75px;
}
/* Credit Card Info */
.cc-info {
	width: 520px;
	margin: 0 auto;
	display: table;
}
.cc-info li.col2 {
	display: table-row;	
}
.cc-info li.col2 p {
	display: table-cell;
	padding: 5px 0;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cc-info li.col2 p {
	padding-right: 20px;
	max-width: 300px;
}

/* 1clicMAX POS DataTable */
/* -------------------------------------------------------------------- */
.data-table {
	border-bottom: 1px solid #ddd;	
}
.data-table .data-table-header:before,
.data-table .data-table-header:after {
	content: " ";
	display: table;
}
.data-table .data-table-header:after {
	clear: both;
}
.data-table .data-table-header {
	width: 100%;
	color: #fff;
	background: #444; /* Fallback */
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
	background: -moz-linear-gradient(top,  #666,  #444);
	*zoom:1
}
.data-table .data-table-header li {
	float: left;
	font-weight: bold;
	padding: 5px 10px;
	border-left: 1px solid #777;
}
.data-table .data-table-body {
	overflow: auto;
	display: block;
	max-height: 324px; /* Maximum 10 data rows show */
}
.data-table .data-table-body.scrolled {
	max-height: none !important;
}
@media(-webkit-min-device-pixel-ratio:0) {
	.data-table .data-table-body {
		max-height: 320px;
	}
}
.data-table .data-table-body table {
	width: 100%;
	border: 1px solid #ddd;
	border-width: 0 1px;
}
.data-table .data-table-body table tr td {
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-width: 0 1px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}
.data-table .data-table-body table tr.alt td {
	background: #f0f0f0;	
}
.data-table .data-table-body table tr:hover td {
	background: #def;	
}
.data-table .data-table-body table tr td.imp {
	font-size: 18px;	
}
.data-table .data-table-body table tr td .edit-link,
.data-table .data-table-body table tr td .delete-link {
	width: 16px;
	height: 16px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 999px;
	vertical-align: middle;
	background: url('../img/button_icons.png') no-repeat 0 0;
}
.data-table .data-table-body table tr td .edit-link {
	background-position: 0 -112px;	
}
.data-table .data-table-body table tr td .edit-link:hover {
	background-position: 0 -128px;
}
.data-table .data-table-body table tr td .delete-link {
	background-position: -16px -16px;	
}
.data-table .data-table-body table tr td .delete-link:hover {
	background-position: -16px -32px;
}
.data-table .data-table-body table tr td .sub-link {
	font-size: 14px;	
}

/* 1clicMAX POS ProductTable */
/* -------------------------------------------------------------------- */
.product-table {
	width: 540px;
	margin: 5px auto 20px;
	table-layout: fixed;
}
.product-table.loose {
	width: 100%;
	table-layout: auto;	
}
.product-table tr th,
.product-table tr td {
	height: 40px;
	font-weight: bold;
	border: 1px solid #aaa;
	text-align: center;
	vertical-align: middle;
}
.product-table.loose tr th,
.product-table.loose tr td {
	padding: 5px 10px;
	height: auto;
}
.product-table.loose tr td {	
	text-align: left;
}
.product-table tr th {
	color: #666;
	background-color: #e5e5e5;
}

/* 1clicMAX POS Page: Login */
/* -------------------------------------------------------------------- */
@media screen and (min-height: 700px) {
	#loginPage.site-content.w-auto {
		margin-top: 50px;
	}
}
@media screen and (min-height: 750px) {
	#loginPage.site-content.w-auto {
		margin-top: 80px;
	}
}
@media screen and (min-height: 900px) {
	#loginPage.site-content.w-auto {
		margin-top: 140px;
	}
}
@media screen and (min-height: 1000px) {
	#loginPage.site-content.w-auto {
		margin-top: 160px;
	}
}
#loginPage .login-container .login {
	height: 420px;
	padding: 30px 300px 0 0;
	position: relative;	
}
#loginPage.site-content .login-container .login .login-box {
	padding: 20px 30px;
	width: 330px;
}
#loginPage .login-container .login .login-box .notif {
	margin-bottom: 10px;
}
#loginPage .login-container .login .login-box .xform input[type=submit] {
	margin: 8px 0;
	padding: .5em 1em;
	width: 100px;	
}
#loginPage .login-container .login .xman {
	width: 386px;
	height: 433px;
	background: url('../img/xman.png') no-repeat 0 0;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}
#loginPage .login-container .advertise {
	margin-top: 20px;
}
@media screen and (max-width: 1200px) {
	#loginPage .login-container .advertise {
		display: none;
	}
}
@media screen and (min-width:1200px) {
	#loginPage .login-container .advertise {
		margin-right: 60px;
		width: 500px;
		display: block;
	}
}
@media screen and (min-width:1400px) {
	#loginPage .login-container .advertise {
		margin-right: 80px;
		width: 640px;
		display: block;
	}
}
@media screen and (min-width:1600px) {
	#loginPage .login-container .advertise {
		margin-top: 0;
		margin-right: 100px;
		width: 760px;
		display: block;
	}
}
#loginPage .login-container .advertise .stroke-box {
	width: 100%;
	height: 450px;
	line-height: 390px;
	text-align: center;
}
#loginPage #forgotPassDialog {
	width: 450px;	
}
#loginPage #forgotPassDialog article {
	margin: 0 0 10px 30px;
}
#loginPage #forgotPassDialog article h6 span {
	color: #444;
}
#loginPage #forgotPassDialog article ul {
	margin-left: 30px;
}

/* 1clicMAX POS Page: Home */
/* -------------------------------------------------------------------- */
#homePage #productsNav {
	text-align: center;	
}
#homePage #productsNav ul li {
	display: inline-block;
	margin-right: 5.2px;
	padding-bottom: 13px;
	background: url('../img/product_box_shadow.png') no-repeat 50% 100%;
}
#homePage #productsNav ul li:last-of-type {
	margin: 0;
}
#homePage #productsNav ul li a {
	display: block;
	width: 192px;
	height: 100px;
	background-color: #123785;	
	background-image: url('../img/product_logos_large.png');
	background-repeat: no-repeat;
	text-indent: 999px;
	white-space: nowrap;
	overflow: hidden;
}
#homePage #productsNav ul li a:hover {
	background-color: #EC2029;
	transition: background-color 500ms ease 0s;
	-moz-transition: background-color 500ms ease 0s;
    -webkit-transition: background-color 500ms ease 0s;
    -o-transition: background-color 500ms ease 0s;
}
#homePage #productsNav ul li.one-clic a {
	background-position: 0 0;
}
#homePage #productsNav ul li.topup-world a {
	background-position: -192px 0;
}
#homePage #productsNav ul li.topup-usa a {
	background-position: -384px 0;
}
#homePage #productsNav ul li.phi-calling a {
	background-position: 0 -100px;
}
#homePage #productsNav ul li.billmex a {
	background-position: -192px -100px;
}
#homePage #mainContent,
#homePage .product-desc {
	margin-top: 15px;
}
#homePage .product-desc {
	display: none;
	width: 100%;
	height: 400px;
	line-height: 340px;
	text-align: center;
}
#homePage #homeSlider {
	width: 598px;
	height: 400px;
	padding: 10px;
}
#homePage #homeSlider .theme-default .nivoSlider {
	box-shadow: none;
}
#homePage #homeSlider .theme-default .nivoSlider img {
	width: 100%;
	height: 340px;
}
#homePage #homeSlider .theme-default .nivo-controlNav {
	padding: 5px 0;
}
#homePage #homeFeed {
	width: 394px;
	height: 400px;
	padding: 10px 20px;
}
#homePage #homeFeed article {
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
#homePage #homeFeed article .content {
	display: block;
	width: 100%;
	max-height: 6em;
	overflow: hidden;
}
#homePage #homeFeed article .content p {
	margin: .2em 0;
}
#homePage #homeFeed article footer {
	margin: .5em 0;
	text-align: right;	
}
#homePage #homeFeed footer {
	margin: .2em 0;
	text-align: center;	
}

/* 1clicMAX POS Page: 1ClicMAX Product */
/* -------------------------------------------------------------------- */
#oneClicProductPage #phoneInputForm .xform {
	width: 578px;
	padding: 20px 30px;	
}
#oneClicProductPage #phoneInputForm .bottom {
	text-align: right;
	padding: 15px 0 0;
}
#oneClicProductPage #phoneInputForm .bottom input {
	margin: 0;
}
#oneClicProductPage.site-content .fly-box .fly-box-title strong.emp {
	font-size: 48px;	
}
#oneClicProductPage.site-content .fly-box .fly-box-title strong.phoneno {
	font-size: 30px;
	color: #123785;
}
#oneClicProductPage.site-content .fly-box .fly-box-title .right {
	margin-top: 8px;	
}
#oneClicProductPage #newAccountForm {
	width: 100%;
}
#oneClicProductPage #newAccountForm .xform {
	width: 620px;
	margin: 0 auto;	
}
#oneClicProductPage #newAccountForm .xform span.option {
	margin-top: 0;
	min-width: 9em;
	width: 9em;
}
#oneClicProductPage #newAccountForm .xform li.refer-a-friend {
	background: url('../img/new_label.png') no-repeat 0 0;
	padding-left: 80px;
}
#oneClicProductPage #newAccountForm .xform li.refer-a-friend label.big {
	font-size: 24px;
	color: #123785;
}
#oneClicProductPage #newAccountForm .xform li.refer-a-friend input.large {
	font-size: 36px;	
    width: 276px;
	margin-left: 10px;
	padding: 0.1em 0.4em;
}
/* Main Page*/
#quickAdd1Clic2 {
	margin-bottom: 10px;
}
#quickAdd1Clic1 .xlarge,
#oneClicProductPage #quickAdd1Clic2 .xlarge {
	font-size: 48px !important;
	margin: 0 !important;
}
#quickAdd1Clic1 input.xlarge,
#oneClicProductPage #quickAdd1Clic2 input.xlarge {
	margin: .1em .4em;
}
#quickAdd1Clic1 .xform .phone,
#oneClicProductPage #quickAdd1Clic2 .xform .phone {
	width: 480px;
}
#quickAdd1Clic1 .xform .name,
#oneClicProductPage #quickAdd1Clic2 .xform .name {
	width: 190px;
	margin: 0 0 0 10px;
}
#quickAdd1Clic1 .xform .send-text,
#oneClicProductPage #quickAdd1Clic2 .xform .send-text {
	width: 110px;
	text-align: center;
    margin-top: 30px;    
}
#quickAdd1Clic1 .xform .add,
#oneClicProductPage #quickAdd1Clic2 .xform .add {
	vertical-align: bottom;
}
#quickAdd1Clic1 .xform .add .green-button,
#oneClicProductPage #quickAdd1Clic2 .xform .add .green-button {
	width: 110px;
	padding: .15em 0;
}
#newCustomerDialog header {
	position: relative;	
}
#newCustomerDialog header img {
	margin-bottom: 6px;
}
#newCustomerDialog header .status {
	position: absolute;
	top: 16px;
	right: 0;
}
#newCustomerDialog hr {
	margin: 0;
	border-style: dotted;
	border-color: #aaa;
}
#newCustomerDialog .extra {
	padding: 20px;
}
#newCustomerDialog .extra .green-button {
	margin-right: 10px;
}
#rechargeAccountForm {
	width: 606px;	
}
#rechargeAccountForm input[type=text].xlarge {
	width: 280px;
	padding: 0.1em 1.6em 0.1em 0;
	font-size: 66px;
	text-align: right;
	background: #fff url('../img/recharge_mask.png') no-repeat 50% 50%;	
}
#rechargeAccountForm .buttons {
	padding-left: 12px;
    padding-top: 25px;
    text-align: center;
    width: 274px;	
}
#rechargeAccountForm .button-wrapper {
	font-weight: normal;
	text-align: center;
	display: inline-block;	
}
#rechargeAccountForm .button-wrapper .green-button,
#rechargeAccountForm .button-wrapper .red-button {
	width: 68px;
	height: 68px;
	min-width: 0;
	display: block;
	padding: 0;
	margin: 0 8px 5px;
}
#rechargeAccountForm .button-wrapper #rechargeAddButton span,
#rechargeAccountForm .button-wrapper #rechargeVoidButton span {
	width: 68px;
	height: 68px;
	display: block;
	background: url('../img/recharge_icons.png') no-repeat 0 0;
}
#rechargeAccountForm .button-wrapper #rechargeVoidButton span {
	background-position: -68px 0;
}
#rechargeAccountForm .button-wrapper #rechargeAddButton:hover span {
	background-position: 0 -68px;
}
#rechargeAccountForm .button-wrapper #rechargeVoidButton:hover span {
	background-position: -68px -68px;
}
#rechargeAccountForm .options label {
	width: 8.5em;
}
#rechargeAccountForm .options span.option {
	margin-top: 0;
	min-width: 4.5em;
}
#oneClicAccountInfo {
	width: 304px;	
}
#oneClicAccountInfo header {
	border-bottom: 1px solid #123785;
    padding-bottom: 7px;
	position: relative;
}
#oneClicAccountInfo header .print-feature {
	position: absolute;
	right: 0;
	bottom: 5px;
}
#oneClicAccountInfo header .print-feature .button-print {
	min-width: 40px;
}
#oneClicAccountInfo label {
    display: inline-block;
    width: 7.7em;
}
#oneClicAccountInfo ul li {
	border-bottom: 1px solid #aaa;
    padding: 10px 0;
}
#oneClicAccountInfo ul li strong {
	color: #123785;
}
#oneClicAccountInfo ul li.customer-info {
	border: 0 none;	
}
#oneClicAccountInfo ul li.customer-info span.group {
	display: inline-block;
	vertical-align: top;
}
#oneClicAccountInfo ul li.customer-info span.group strong {
	display: block;
	margin-bottom: 3px;
}
#oneClicAccountInfo ul li.customer-info span.group .button {
	min-width: 60px;
}
#oneClicProductPage #phonesListTabs {
	margin-top: 20px;	
	margin-top: 19px;
	display: block;
	position: relative;
	bottom: -1px;
}
#oneClicProductPage #phonesListTabs li {
	display: inline-block;
}
#oneClicProductPage #phonesListTabs li a {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-weight: bold;
    font-size: 20px; 
	color: #444;  
    display: block;    
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 16px;
    vertical-align: middle;
}
#oneClicProductPage #phonesListTabs li a.selected,
#oneClicProductPage #phonesListTabs li a:hover {
	color: #123785;
	border: 1px solid #123785;
    border-width: 1px 1px 0;
	background-color: #fafafa;
	text-decoration: none;
	padding-left: 15px;
}
#oneClicProductPage #phonesListTabs li a img {
	height: 24px;
    margin-top: 6px;
    vertical-align: top;
}
#oneClicProductPage .tabs-container {
	padding: 15px 0 0;
	border-top: 1px solid #123785;
}
#oneClicProductPage .tab-content {
	position: relative;
}
#oneClicProductPage #oneClicNumbersTab #addMultiNo2,
#oneClicProductPage #usNumbersTab #addUsNo {
	position: absolute;
	top: -55px;
	right: 0;	
}
/* More Dialogs */
#addMulti1ClicNoDialog .header li {
	display: inline-block;
	vertical-align: middle;
}
#addMulti1ClicNoDialog .header li.phone {
	width: 360px;
	margin-left: 10px;
}
#addMulti1ClicNoDialog .header li.name {
	width: 220px;
	margin: 0 10px;
}
#addMulti1ClicNoDialog #addMulti1ClicNoForm {
	border-top: 1px solid #aaa;
    margin-top: 5px;
    padding: 10px;
	overflow: auto;
	max-height: 316px;
}
#addMulti1ClicNoDialog #addMulti1ClicNoForm .xform {
	padding: 0;
}
#addMulti1ClicNoDialog #addMulti1ClicNoForm .xform li {
	padding-bottom: 10px;
}
#addMulti1ClicNoDialog #addMulti1ClicNoForm input.xlarge {
	font-size: 48px;
}
#addMulti1ClicNoDialog #addMulti1ClicNoForm input.phone {
	width: 360px;
}
#addMulti1ClicNoDialog #addMulti1ClicNoForm input.name {
	width: 220px;
	margin: 0 30px 0 10px;
}
#edit1ClicNoDialog .xform input.large,
#edit1ClicNoDialog .xform select.large,
#addUsNoDialog .xform input.large,
#addUsNoDialog .xform select.large,
#editUsNoDialog .xform input.large,
#editUsNoDialog .xform select.large {
	font-size: 36px;
    padding: .1em .25em;
}
#edit1ClicNoDialog .xform li,
#addUsNoDialog .xform li,
#editUsNoDialog .xform li {
	padding: 0;	
}
#edit1ClicNoDialog .xform p.clic {
	width: 264px;
}
#edit1ClicNoDialog .xform p.phone {
	width: 364px;
	margin: 0 15px;
}
#edit1ClicNoDialog .xform p.name {
	width: 172px;
}
#addUsNoDialog .xform p.phone,
#editUsNoDialog .xform p.phone {
	width: 264px;
}
#addUsNoDialog .xform p.phone-type,
#editUsNoDialog .xform p.phone-type {
	margin: 0 15px;
}
#deleteMainNoDialog {
	width: 480px;
	font-size: 24px;
	line-height: 1.6em;
	text-align: center;	
}

/* 1clicMAX POS Page: Top-Up the World Product */
/* -------------------------------------------------------------------- */
/* Top-Up Input */
#topupWorldProductPage.site-content .fly-box .fly-box-title .sub-title {
	color: #123785;
	font-size: 18px;
	margin: 4px 0 0;
}
#topupWorldProductPage #topupForm .product-form {
	width: 598px;
	margin-bottom: 5px;
}
#topupWorldProductPage #topupForm .product-form .xform {
	padding-top: 10px;	 
}
#topupWorldProductPage #topupForm #senderInfo p.first {
	width: 210px;
	margin-right: 26px;
	vertical-align: top;
}
#topupWorldProductPage #topupForm #senderInfo p.phone-type {
	width: 320px;
	vertical-align: bottom;
	line-height: 1.2em;
}
#topupWorldProductPage #topupForm .product-form #senderInfo p span.option {
	display: block;
	margin-top: 6px;
	min-width: 0;
}
#topupWorldProductPage #topupForm #senderInfo p .child-options label {
	width: 7.5em;		
}
#topupWorldProductPage #topupForm #recipientInfo p {
	width: 270px;
}
#topupWorldProductPage #topupForm #recipientInfo p.first {
	margin-right: 16px;
}
#topupWorldProductPage #topupForm #recipientInfo p .phone-prefix {
	width: 67px;
	margin-right: 2px;
}
#topupWorldProductPage #topupForm #recipientInfo p .phone-suffix {
	width: 196px;
}
#topupWorldProductPage #topupForm #recipientInfo .phi-special {
	color: #123785;
	position: relative;
}
#topupWorldProductPage #topupForm #recipientInfo .phi-special .show-disclaimer {
	font-weight: normal;
	position: absolute;
	right: 0;
}
#topupWorldProductPage .topup-logos,
#topupWorldProductPage .express-topup {
	margin-top: 10px;
}
#topupWorldProductPage .topup-logos li {
	display: none;
}
#topupWorldProductPage .topup-logos li.active {
	display: block;
}
#topupWorldProductPage .express-topup {
	width: 316px;
	display: none;
}
#topupWorldProductPage .express-topup h3 {
	margin-bottom: 10px;	
}
#topupWorldProductPage .express-topup header {
	font-size: 18px;
	border-bottom: 1px dotted #aaa;
	padding-bottom: 5px;
	margin-bottom: 4px;
}
#topupWorldProductPage .express-topup article {
	padding: 10px 0 8px;
	border-bottom: 1px solid #ddd;
	position: relative;
}
#topupWorldProductPage .express-topup article.alt {
	background-color: #f0f0f0;
}
#topupWorldProductPage .express-topup article strong.emp {
	display: block;
	font-size: 20px;
}
#topupWorldProductPage .express-topup article .cmd {
	position: absolute;
	top: 9px;
	right: 0;
}
#topupWorldProductPage .express-topup article .cmd .button {
	display: block;
	margin-bottom: 2px;
}
/* Top-Up Confirm */
#topupWorldProductPage .product-panel {
	width: 598px;
}
#topupWorldProductPage .product-panel .xform p {
	width: 320px;
}
#topupWorldProductPage .product-panel .xform p.last {
	width: 220px;
	margin-left: 30px;
}
#topupWorldProductPage .product-panel .xform label {
	width: 9.5em;
}
#topupWorldProductPage .product-panel .xform p.last label {
	width: 7.5em;
}
/* Top-Up Result */
#topupWorldProductPage .fly-box .fly-box-title .print-feature {
	margin-top: -8px;
}
#topupWorldProductPage .result-panel {
	width: 558px;
	font-size: 18px;
}
#topupWorldProductPage .result-panel .xform label {
	width: 7.3em;	
}

/* 1clicMAX POS Page: Top-Up the USA Product */
/* -------------------------------------------------------------------- */
/* Top-Up Input */
#topupUsaProductPage.site-content .fly-box.content-holder .fly-box-title {
	background: url('../img/us_flag.jpg') no-repeat 0 0;
	padding-left: 52px;
}
#topupUsaProductPage #topupForm .product-form {
	width: 598px;
	margin-bottom: 5px;
}
#topupUsaProductPage #topupForm .product-form .xform {
	padding-top: 10px;	 
}
#topupUsaProductPage #topupForm #senderInfo p.first {
	width: 210px;
	margin-right: 26px;
	vertical-align: top;
}
#topupUsaProductPage #topupForm #senderInfo p.phone-type {
	width: 320px;
	vertical-align: bottom;
	line-height: 1.2em;
}
#topupUsaProductPage #topupForm .product-form #senderInfo p span.option {
	display: block;
	margin-top: 6px;
	min-width: 0;
}
#topupUsaProductPage #topupForm #senderInfo p .child-options label {
	width: 7.5em;		
}
#topupUsaProductPage #topupForm #recipientInfo p {
	width: 270px;
}
#topupUsaProductPage #topupForm #recipientInfo p.first {
	margin-right: 16px;
}
#topupUsaProductPage #topupForm #recipientInfo p .phone-prefix {
	width: 50px;
	text-align: center;
	margin-right: 2px;
}
#topupUsaProductPage #topupForm #recipientInfo p .phone-suffix {
	width: 213px;
}
#topupUsaProductPage .transaction-history {
	width: 316px;
	margin-top: 10px;
	display: none;
}
#topupUsaProductPage .transaction-history h3 {
	margin-bottom: 10px;	
}
#topupUsaProductPage .transaction-history header {
	font-size: 18px;
	border-bottom: 1px dotted #aaa;
	padding-bottom: 5px;
	margin-bottom: 4px;
}
#topupUsaProductPage .transaction-history article {
	padding: 10px 0 8px;
	border-bottom: 1px solid #ddd;
	position: relative;
}
#topupUsaProductPage .transaction-history article.alt {
	background-color: #f0f0f0;
}
#topupUsaProductPage .transaction-history article strong.emp {
	display: block;
	font-size: 20px;
}
#topupUsaProductPage .transaction-history article strong.small {
	font-size: 14px;
}
#topupUsaProductPage .transaction-history article .cmd {
	position: absolute;
	top: 9px;
	right: 0;
}
#topupUsaProductPage .transaction-history article .cmd .button {
	display: block;
	margin-bottom: 2px;
}
/* Top-Up Confirm */
#topupUsaProductPage .product-panel {
	width: 598px;
}
#topupUsaProductPage .product-panel .xform p {
	width: 320px;
}
#topupUsaProductPage .product-panel .xform p.last {
	width: 220px;
	margin-left: 30px;
}
#topupUsaProductPage .product-panel .xform label {
	width: 9.5em;
}
#topupUsaProductPage .product-panel .xform p.last label {
	width: 7.5em;
}
#topupUsaProductPage .product-panel .xform li h2 {
	width: 7.6em;
	display: inline-block;
	vertical-align: middle;
}
/* Top-Up Result */
#topupUsaProductPage .fly-box .fly-box-title .print-feature {
	margin-top: -8px;
}
#topupUsaProductPage .result-panel {
	width: 558px;
	font-size: 18px;
}
#topupUsaProductPage .result-panel .xform label {
	width: 7.3em;	
}

/* 1clicMAX POS Page: Philippines Calling */
/* -------------------------------------------------------------------- */
.phi-calling-products {
	padding-top: 10px;
}
.phi-calling-products li {
	border-top: 1px dashed #aaa;
	height: 100px;
	width: 578px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.phi-calling-products li.last {
	border-bottom: 1px dashed #aaa;
}
.phi-calling-products li p {
	float: left;
	height: 100px;
	width: auto;
	display: block;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.phi-calling-products li .header {
	padding: 10px 20px 0 0;
	background: url('../img/ctp_shadow.png') no-repeat 100% 50%;	
}
.phi-calling-products li .item {
	text-align: center;
	padding: 16px 25px 0;
	color: #222;
}
.phi-calling-products li .item a {
	display: block;	
}
.phi-calling-products li .item a:hover {
	opacity: .85;
}

/* 1clicMAX POS Page: Kumusta 2000 Product */
/* -------------------------------------------------------------------- */
/* U.S. Phone Input */
#ku2000ProductPage h2.large {
	margin-bottom: 1.1em;	
}
#ku2000ProductPage #phoneInputForm .xform {
	width: 578px;
	padding: 20px 30px;
	margin-top: 5px;
}
#ku2000ProductPage #phoneInputForm .bottom {
    padding: 15px 0 0;
    text-align: right;
}
/* New Account */
#ku2000ProductPage #newAccountForm .product-form {
	width: 598px;
	margin-bottom: 5px;
}
#ku2000ProductPage #newAccountForm #customerInfo li {
	padding-bottom: 10px;	
}
#ku2000ProductPage #newAccountForm #customerInfo li.col2 p {
	width: 270px;
}
#ku2000ProductPage #newAccountForm #customerInfo li.col2 p.first {
	margin-right: 16px;
}
#ku2000ProductPage #newAccountForm #customerInfo .imp {
	font-size: 22px;
}
#ku2000ProductPage #newAccountForm #smartNumbers .important {
	font-size: 26px;
	padding: .1em .22em .08em;
	margin-right: -4px;
}
#ku2000ProductPage #newAccountForm #smartNumbers .phone-prefix {
	width: 48px;
	margin-right: -2px;	
}
#ku2000ProductPage #newAccountForm #smartNumbers .phone-suffix {
	width: 166px;	
}
#ku2000ProductPage #newAccountForm #smartNumbers .phone-name {
	width: 105px;
}
#ku2000ProductPage #newAccountForm #smartNumbers p.second {
	margin: 0 16px;
}
#ku2000ProductPage #newAccountForm #smartNumbers li.smart2 {
	border-top: 1px dotted #aaa;
    padding-top: 12px;	
}
#ku2000ProductPage #newAccountForm #paymentMethod {
	padding: 10px 20px 20px;	
}
#ku2000ProductPage #newAccountForm #paymentMethod span.option {
	min-width: 6.5em;
}
#ku2000ProductPage #newAccountForm #creditCard {
	padding: 0 0 20px !important;
	display: none;
}
/* Ku2000 Confirm */
#ku2000ProductPage .product-panel {
	width: 598px;	
}
#ku2000ProductPage .product-panel #customerInfo li p {
	width: 270px;
	margin-right: 30px;
}
#ku2000ProductPage .product-panel #customerInfo li p.last {
	width: auto;
	margin: 0;
}
#ku2000ProductPage .product-panel #customerInfo li label {
	width: 7.5em;
}
#ku2000ProductPage .product-panel #customerInfo li p.last label {
	width: 3.5em;
}
#ku2000ProductPage .product-panel #customerInfo li {
	padding-bottom: 10px;	
}
/* Ku2000 Result */
#ku2000ProductPage .fly-box .fly-box-title .gray-button,
#ku2000ProductPage .fly-box .fly-box-title .print-feature  {
	margin-top: -8px;
	margin-left: 5px;
}
/* Ku2000 My Account */
#ku2000ProductPage .product-panel #accountInfo label {
	width: 12em;
}
#ku2000ProductPage .product-panel {
	position: relative;	
}
#ku2000ProductPage .product-panel .cmd {
	position: absolute;
	right: 0;
	top: -5px;
}
#ku2000ProductPage .product-panel:first-of-type .cmd {
	top: 0;	
}
#ku2000ProductPage .product-panel:first-of-type.collapsed h2 {
	padding-bottom: 5px;	
}
#ku2000ProductPage .product-panel .cmd .ui-button,
#ku2000ProductPage .product-panel .cmd .gray-button,
#ku2000ProductPage .product-panel .cmd .green-button {
	min-width: 80px;
}
#ku2000ProductPage .open-close .save-button,
#ku2000ProductPage .open-close .cancel-button {
	display: inline-block;
}
#ku2000ProductPage .open-close.collapsed .save-button,
#ku2000ProductPage .open-close.collapsed .cancel-button {
	display: none !important;
}
#ku2000ProductPage .product-panel.has-cmd .content {
	padding-top: 5px;
}
#ku2000ProductPage .product-panel .mode2 {
	display: none;	
}
#ku2000ProductPage #myAccount .important {
    font-size: 26px;
    padding: 0.1em 0.22em 0.08em;
	margin: .2em 0;
}
#ku2000ProductPage #customerInfoForm.edit-mode p.first {
    width: 300px !important;
	margin-right: 16px !important;
}
#ku2000ProductPage #customerInfoForm .important {
    width: 174px;
}
#ku2000ProductPage #customerInfoForm span.option {
	padding-right: 10px;
}
#ku2000ProductPage #smartNumbersForm .phone-suffix {
    width: 166px;
}
#ku2000ProductPage #smartNumbersForm .phone-name {
    width: 105px;
}
#ku2000ProductPage #paymentMethodForm .payment-method {
	padding: 0 20px 10px;
}
#ku2000ProductPage #paymentMethodForm .payment-method span.option {
	min-width: 6.5em;	
}
#ku2000ProductPage #paymentMethodForm .cc-form {
	padding: 0 !important;
}
#securityDialog .xform li {
	padding: 5px 0 0;
}
#securityDialog .xform li input[type=text] {
	width: 180px;
	text-align: center;
}

/* 1clicMAX POS Page: Globe Duo Product */
/* -------------------------------------------------------------------- */
/* U.S. Phone Input */
#globeDuoProductPage h2.large {
	margin-bottom: 1.1em;	
}
#globeDuoProductPage #phoneInputForm .xform {
	width: 578px;
	padding: 20px 30px;
	margin-top: 5px;
}
#globeDuoProductPage #phoneInputForm .bottom {
    padding: 15px 0 0;
    text-align: right;
}
/* New Account */
#globeDuoProductPage #newAccountForm .product-form {
	width: 598px;
	margin-bottom: 5px;
}
#globeDuoProductPage #newAccountForm #customerInfo li {
	padding-bottom: 10px;	
}
#globeDuoProductPage #newAccountForm #customerInfo li.col2 p {
	width: 270px;
}
#globeDuoProductPage #newAccountForm #customerInfo li.col2 p.first {
	margin-right: 16px;
}
#globeDuoProductPage #newAccountForm #customerInfo .imp {
	font-size: 22px;
}
#globeDuoProductPage #newAccountForm #globeNumber .important {
	font-size: 26px;
	padding: .1em .22em .08em;
	margin-right: -4px;
}
#globeDuoProductPage #newAccountForm #globeNumber .phone-prefix {
	width: 48px;
	margin-right: -2px;	
}
#globeDuoProductPage #newAccountForm #globeNumber .phone-suffix {
	width: 166px;	
}
#globeDuoProductPage #newAccountForm #globeNumber .phone-name {
	width: 105px;
}
#globeDuoProductPage #newAccountForm #globeNumber p.second {
	margin: 0 16px;
}
#globeDuoProductPage #newAccountForm #paymentMethod {
	padding: 10px 20px 20px;	
}
#globeDuoProductPage #newAccountForm p#paymentMethod {
	padding: 0 20px 20px;	
}
#globeDuoProductPage #newAccountForm #paymentMethod span.option {
	min-width: 7em;
}
#globeDuoProductPage #newAccountForm #creditCard {
	padding: 0 0 20px !important;
	display: none;
}
/* Globe Duo Confirm */
#globeDuoProductPage .product-panel {
	width: 598px;	
}
#globeDuoProductPage .product-panel #customerInfo li p,
#globeDuoProductPage .product-form #customerInfo2 li p {
	width: 270px;
	margin-right: 30px;
}
#globeDuoProductPage .product-panel #customerInfo li p.last,
#globeDuoProductPage .product-form #customerInfo2 li p.last {
	width: auto;
	margin: 0;
}
#globeDuoProductPage .product-panel #customerInfo li label,
#globeDuoProductPage .product-form #customerInfo2 li label {
	width: 7.5em;
}
#globeDuoProductPage .product-panel #customerInfo li p.last label,
#globeDuoProductPage .product-form #customerInfo2 li p.last label {
	width: 3.5em;
}
#globeDuoProductPage .product-panel #customerInfo li,
#globeDuoProductPage .product-form #customerInfo2 li {
	padding-bottom: 10px;	
}
/* Globe Duo Result */
#globeDuoProductPage .fly-box .fly-box-title .gray-button,
#globeDuoProductPage .fly-box .fly-box-title .print-feature  {
	margin-top: -8px;
	margin-left: 5px;
}