<?xml version="1.0"?>
<rewriter>
  

    <rewrite url="~/pf/tinh-yeu-gia-dinh/tim-ban/(.+).aspx" to="~/Profile.aspx?acc=$1" processing="stop" />
    <rewrite url="~/pf/tinh-yeu-gia-dinh/tim-ban-trang(.+).aspx" to="~/ProfileList.aspx?page=$1" processing="stop" />
    <rewrite url="~/pf/tinh-yeu-gia-dinh/tim-ban.aspx" to="~/ProfileList.aspx" processing="stop" />
    
    <rewrite url="~/pt/(.+)/(.+)/(.+).aspx" to="~/Post.aspx?ct=$1&amp;cp=$2&amp;tt=$3" processing="stop" />
    
    <rewrite url="~/ct/(.+)/trang-(.+).aspx" to="~/Category.aspx?ct=$1&amp;p=$2" processing="stop" />
    <rewrite url="~/ct/(.+)/(.+).aspx" to="~/Category.aspx?ct=$1&amp;d=$2" processing="stop" />
    <rewrite url="~/ct/(.+).aspx" to="~/Category.aspx?ct=$1" processing="stop" />
    
    <rewrite url="~/rao-nhanh/(.+)/trang-(.+).aspx" to="~/AdSubCategory.aspx?ct=$1&amp;p=$2" processing="stop" />
    <rewrite url="~/rao-nhanh/(.+)/(.+).aspx" to="~/AdSubCategory.aspx?ct=$1&amp;d=$2" processing="stop" />
    <rewrite url="~/rao-nhanh/(.+).aspx" to="~/AdSubCategory.aspx?ct=$1" processing="stop" />
    <rewrite url="~/rao-nhanh.aspx" to="~/AdCategory.aspx" processing="stop" />

    <rewrite url="~/tim-kiem/(.+)/trang-(.+).aspx" to="~/PostSearchResult.aspx?keysearch=$1&amp;page=$2" processing="stop" />
    <rewrite url="~/tim-kiem/(.+).aspx" to="~/PostSearchResult.aspx?keysearch=$1" processing="stop" />
    
    <rewrite url="~/trang-chu.aspx" to="~/Default.aspx" processing="stop" />
    

    
</rewriter>