<?xml version="1.0"?>
<rewriter>
  <!--URL Category - phan trang/ko phan trang [categoryname/trangx.aspx] / [categoryname.aspx]-->
  <rewrite url="~/(.+)/trang-(.+).aspx" to="xxx" processing="stop" />
  <rewrite url="~/(.+).aspx" to="xxxx" processing="stop" />
  <!--URL News detail [CategoryName/IDNews-TitleNews.aspx]-->
  <rewrite url="~/(.+)/(.+)-(.+).aspx" to="xxx" processing="stop" />
  <!--URL Category Rao Nhanh - phan trang/ko phan trang - phan trang [CategoryName/SubCategoryName/trangx.aspx]/[[CategoryName/SubCategoryName.aspx]]-->
  <rewrite url="~/(.+)/(.+)/trang-(.+).aspx" to="xxx" processing="stop" />
  <rewrite url="~/(.+)/(.+).aspx" to="xxx" processing="stop" />
  <!--URL Rao Nhanh detail [CategoryName/SubcategoryName/IDNews-TitleNews.aspx]-->
  <rewrite url="~/(.+)/(.+)/(.+)-(.+).aspx" to="xxx" processing="stop" />
  <!--URL Sysadmin/admin-->

  <!--URL BTV/Guest-->
  
  
</rewriter>