/* COLORS */
/* COLORS */
/* -------------------------------------------------------------------- */
/* FONT MIXINS */
/* -------------------------------------------------------------------- */
/* COMMON STYLES */
/* -------------------------------------------------------------------- */
body {
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-size: 16px;
  color: #222;
  background: #fafafa;
}
@media only screen and (max-width: 1366px) {
  body {
    font-size: 14px;
  }
}
em,
i {
  font-family: 'OpenSansItalic', Arial, sans-serif;
  font-style: italic;
}
strong,
b {
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-weight: bold;
}
a {
  color: #a20;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'OpenSansCondensedBold', Arial, sans-serif;
  font-weight: bold;
}
/* GUIDES & WARNINGS */
/* -------------------------------------------------------------------- */
#ltIE8Guide {
  display: none;
}
/* LAYOUT STYLES */
/* -------------------------------------------------------------------- */
#pageMenuBar {
  display: block;
  width: 100%;
  height: 3.75em;
  background: #ffffff url("../img/pmenu_bg.jpg");
  box-shadow: 0 0 .4em #555;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}
#pageMenuBar .lunex-logo {
  position: absolute;
  top: .4375em;
  left: 10px;
}
#pageMenuBar .lunex-logo img {
  height: 2.875em;
}
#pageMenuBar .menu-bar {
  display: block;
  float: right;
}
#pageMenuBar .menu-bar li {
  float: left;
  line-height: 3.75em;
  border-left: 1px solid #e7e7e7;
}
#pageMenuBar .menu-bar .menu {
  font-family: 'OpenSansCondensedBold', Arial, sans-serif;
  font-weight: bold;
  color: #666;
  text-transform: uppercase;
  padding: 0 1.25em;
  height: 3.75em;
  display: block;
}
#pageMenuBar .menu-bar .menu:hover {
  color: #0e57a4;
}
#pageMenuBar .menu-bar .menu.selected {
  color: #fff;
  background: #0e57a4;
}
#footer {
  width: 100%;
  height: 10em;
  background: #0e57a4;
}
/* PAGE STYLES */
/* -------------------------------------------------------------------- */
.page {
  width: 100%;
  min-height: 800px;
  padding: 2.5em 0;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}
.page.current {
  padding-top: 6.25em;
}
.page hr {
  margin: 0;
  border-style: dashed;
  border-color: #aaa;
}
.page .page-title {
  color: #444;
  text-align: center;
  padding-bottom: 1.825em;
}
.page .page-title h1 {
  font-size: 3em;
  padding-bottom: .125em;
}
.page .page-title h2 {
  font-family: 'OpenSansItalic', Arial, sans-serif;
  font-style: italic;
  font-size: 1.5em;
  font-weight: normal;
}
#home {
  height: 100px;
  background-color: #eee;
}
#partners {
  background-color: #f5f5f5;
}
#tvads {
  background-color: #f1f8ff;
}
#help {
  background-color: #f5f5f5;
}
