/* FONT MIXINS */
/* -------------------------------------------------------------------- */
.font-os() {
	font-family: 'OpenSansRegular', Arial, sans-serif;
}
.font-os-i() {
	font-family: 'OpenSansItalic', Arial, sans-serif;
	font-style: italic;
}
.font-os-b() {
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-weight: bold;
}