/* COLORS */
/* -------------------------------------------------------------------- */

@color-root: #0e57a4;

/* FONT MIXINS */
/* -------------------------------------------------------------------- */

@font-size: 16;
@font-size-s: 14;
@font-size-xs: 12;

.font-os() {
	font-family: 'OpenSansRegular', Arial, sans-serif;
}

.font-os-i() {
	font-family: 'OpenSansItalic', Arial, sans-serif;
	font-style: italic;
}

.font-os-b() {
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-weight: bold;
}

.font-osc() {
	font-family: 'OpenSansCondensedLight', Arial, sans-serif;
}

.font-osc-i() {
	font-family: 'OpenSansCondensedLightItalic', Arial, sans-serif;
	font-style: italic;
}

.font-osc-b() {
	font-family: 'OpenSansCondensedBold', Arial, sans-serif;
	font-weight: bold;
}

/* OTHER MIXINS */
/* -------------------------------------------------------------------- */

.border-box() {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.border-radius(@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}